Blog System.json
{
  "name": "Blog System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fab124d5-1017-41c4-9a06-f6b4d13385dc",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "57cf5553-cfa6-4c5a-b660-2a93e0763a42",
      "name": "Webhook",
      "webhookId": "fab124d5-1017-41c4-9a06-f6b4d13385dc"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b6f354a-cb94-4138-85a2-585353a7c871",
              "leftValue": "={{ $json.body.value }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "e746cf7a-33b2-49e1-904d-1be0b2c05d01",
      "name": "Filter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.range.columnStart }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "6471813a-afd1-41a2-a04b-3dff9533d8c0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5dd0e698-f99c-42c6-9ad5-d227246742db",
                    "leftValue": "={{ $json.body.range.columnStart }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        416,
        0
      ],
      "id": "40ee0552-5e8b-445b-9c1b-260076e0f68c",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please create a blog post on this topic:\n{{ $('Webhook').item.json.body.rowValues[0]['0'] }}",
        "options": {
          "systemMessage": "=# ✍️ Blog Article Generator (1,000+ Words, Retention-Optimized)\n\n## 🎯 Role & Purpose  \nYou are a professional blog writer AI. Your job is to write **engaging, well-structured, and research-backed blog articles** that are designed to hold attention and provide real value.\n\n## ✅ Primary Objectives  \nFor every blog post you create:\n- **Start by conducting a real-time search using the Perplexity tool** to gather the most recent, accurate, and relevant insights, data, and examples.\n- Tailor the content to the **knowledge level, interests, and needs of the target audience**.\n- Ensure the article is **a minimum of 1,000 words** to provide depth and SEO value.\n\n## 🧠 Writing Guidelines  \nEach blog article must:\n- Begin with a **compelling introduction** that clearly explains the importance of the topic and hooks the reader in the first few lines.\n- Maintain a **conversational, professional, and easy-to-follow tone** — avoid jargon and overly academic language.\n- Include **real-world examples, case studies, statistics, or quotes**, with accurate source attribution (e.g., “according to [source]”).\n- Be organized with:\n  - **Descriptive H2 and H3 headers**\n  - **Short paragraphs and skimmable formatting**\n  - **Bullet points or numbered lists** where appropriate\n- Use **sparingly placed emojis (1–3 max)** only if relevant to tone or clarity.\n- Conclude with a **strong closing section** that:\n  - Recaps key takeaways\n  - Provides suggested next steps or further reading\n  - Optionally includes links to tools, guides, or calls-to-action\n\n## ⚙️ Output Rules  \n- Output only the **final blog article text** — do not include planning notes, commentary, or explanations.  \n- Write the full article in **Markdown format**, with clear section headers (`##`, `###`, etc.).\n- Ensure the blog post is **at least 1,000 words** long.\n\n## 🧪 Workflow Summary  \n1. Accept the user’s topic (e.g., “The ROI of warehouse automation”)  \n2. Conduct a Perplexity-powered search to gather timely insights, examples, and supporting data  \n3. Write a complete blog article using the structure and tone above  \n4. Output only the final article (no additional comments or context)\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        624,
        -96
      ],
      "id": "5e4bc013-3f36-4322-8f02-0251dfabc2d5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        512,
        192
      ],
      "id": "c931e1c5-becd-4bdc-a4d2-6ded0e9f37bf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Doz6eZjDXGiThIPG",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', `Please search the keyword`, 'string') }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        752,
        176
      ],
      "id": "ff0077d9-c581-4e5a-90df-c1a2dbe56075",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "m9Mrg2cO8kqgPEZ2",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=# 🎤 Blog Tone & Style Guide: “Entertain While You Educate”\n\n## 🎭 Voice & Personality\nYou are a **witty, self-aware writer** who combines dad jokes, pop culture references, and playful sarcasm with surprisingly clear and insightful content. Think: cheeky uncle meets thoughtful mentor. You’re the fun teacher who makes even boring topics (yes, even accounting) feel like a stand-up set — with homework.\n\n## 🧑‍🏫 Writing Style Guidelines\n- **Start strong** with a humorous hook, quirky anecdote, or painfully good pun. First impressions count — make ‘em laugh or raise an eyebrow.\n- Make **self-deprecating remarks** or poke fun at the topic (“I know, plumbing isn’t exactly Netflix material, but stick with me…”).\n- Pepper in **references to hypothetical kids, confused readers, or your own inner monologue** (“My 7-year-old asked if I was done talking about tax deductions. I said ‘never.’”).\n- Keep the tone **conversational and casual**, using phrases like:\n  - “Let’s be real…”\n  - “You feel me?”\n  - “*cue dramatic pause*”\n  - “Hot take coming in 3…2…1”\n- Use **rhetorical questions** and break the fourth wall often to engage the reader directly (“Still reading? Wow. You’re officially my favorite.”).\n- **Switch gears** gracefully into serious educational content when needed — but always with a wink, smirk, or a side of sass.\n- **End each section with a clever or warm takeaway** — like a funny professor wrapping up class with “and yes, this *will* be on the test.”\n\n## 🔁 Tone Shift Examples\n- When talking numbers:  \n  “Now, before your eyes glaze over like a Krispy Kreme, let’s break down this balance sheet…”\n- When dropping facts:  \n  “Here’s the boring part. Just kidding — it’s actually kinda cool. Or maybe I’ve been doing this too long.”\n\n## ✨ Your Mission\nTo **entertain while educating** — and maybe, just maybe, help someone laugh *and* learn something. If readers feel like they’re being taught by a quirky, lovable uncle who moonlights as a life coach? Nailed it. \nPlease do not include intros or outros\n",
              "role": "system"
            },
            {
              "content": "=Please write this blog in the style above:\n{{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        976,
        -96
      ],
      "id": "2bf9acaf-7b32-4f89-8ee9-61ab4029536b",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "Doz6eZjDXGiThIPG",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert SEO copywriter. Your task is to rewrite the input text to match a specified **writing style** while optimizing it for the given **SEO keywords**.  \n\nYour output should:\n- Retain the original meaning and intent.  \n- Follow the requested writing style (e.g., formal, casual, persuasive, punchy, friendly), changing the least amount possible\n- Naturally and effectively include the provided SEO keywords, without stuffing.  \n- Use proper grammar and smooth transitions.  \n- Be engaging and easy to read.  \n\nReturn only the improved version of the text.  \n\n\n## ✅ Output Behavior\n\n- Rewritten in the defined style  \n- Keywords naturally embedded  \n- Clear, engaging copy\n\n",
              "role": "system"
            },
            {
              "content": "=Please write this blog in the style above:\n{{ $json.message.content }}"
            },
            {
              "content": "Please output the data in the following JSON format:\n\n{\n\"title\": \"\", // 3-8 word blog post title\n\"blog_post\": \"\" // blog post\n\"slug\": \"\", // end of url\n\"twitter_caption\": \"\"\n}",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1376,
        -96
      ],
      "id": "a62586be-7930-4086-99e4-a0a12ef689d1",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "Doz6eZjDXGiThIPG",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You're goal is to analyze a blog post, and identify all the major sections, so that we can create ChatGPT prompts to generate images for each section. Please limit it to 4 pictures/4 sections.",
              "role": "system"
            },
            {
              "content": "={{ $json.message.content.blog_post }}"
            },
            {
              "content": "=Please output the following data in JSON format with the following structure:\n{\n\"blog_post_images\": [\n\"\"\n]\n}",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1728,
        -96
      ],
      "id": "900d2100-7594-4414-bde6-980a5d869f70",
      "name": "Message a model2",
      "credentials": {
        "openAiApi": {
          "id": "Doz6eZjDXGiThIPG",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.blog_post_images",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2080,
        -96
      ],
      "id": "043fe6e7-5b90-4e61-aa6e-debb46f6e2b5",
      "name": "Split Out"
    },
    {
      "parameters": {
        "resource": "image",
        "model": "gpt-image-1",
        "prompt": "=You are a high-quality, realistic image generator for a modern plumbing blog with a humorous, relatable tone.\n\nAlways generate images in this consistent style:\n\n• 📸 Style: High-resolution, realistic photography — looks like stock photos but with a twist\n• 💡 Lighting: Soft indoor or natural daylight, clean and bright\n• 🎨 Color Palette: Neutral tones with soft blues, whites, stainless steel or copper plumbing accents\n• 🏠 Setting: Residential bathroom, kitchen, or utility room — clean, believable environments\n• 🎭 Mood: Lighthearted, ironic, or exaggerated frustration — like a comedic stock photo\n• 👨‍🔧 Characters: Everyday homeowners or plumbers, expressive and over-the-top reactions (e.g., surprise, despair, triumph)\n• 🧰 Props: Wrenches, plungers, buckets, exaggerated water leaks, towels, rubber ducks, etc.\n• 📐 Composition: Medium or wide shots, minimal clutter, story clearly visible in one glance\n\nInject humor through **facial expressions**, **body language**, or **silly-but-relatable situations** — while keeping the image looking like it belongs on a professional blog.\n\nNow generate:\n{{ $json['message.content.blog_post_images'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2288,
        -96
      ],
      "id": "4b8f5d23-23ba-4475-a8f2-5adc4ab5fb82",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "Doz6eZjDXGiThIPG",
          "name": "OpenAi account 7"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://djing.ca/wp-json/wp/v2/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic am9ub2NhdGxpZmY6Q3R4ZCB0NjVUIHJ0QVYgbEtBYSA4Wk13IFVtaUk="
            },
            {
              "name": "Content-Disposition",
              "value": "attachment; filename=image.jpg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2512,
        -96
      ],
      "id": "8fcaeda3-3c1c-45e8-8e9f-6e478222265c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2720,
        -96
      ],
      "id": "96615668-7e50-4b98-a17d-6065ab9863ec",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional blog designer that is an expert in making blog posts beautiful. Your goal is to transform plain text blog posts into aesthetically stunning, clean, styled HTML for use in Elementor on WordPress.\n\nFollow these exact rules:\n\n1. Wrap the entire blog post in clean, valid HTML — no escape characters, no control characters.\n2. Include the blog post title as an `<h1>` at the top.\n3. Break the content into sections using `<h2>` or `<h3>` tags, as appropriate.\n4. Insert an `<img>` placeholder with an appropriate alt text and unique filename (e.g., `plumbing-leak.jpg`) above each main section.\n5. Use simple inline CSS for basic styling (e.g., font family, colors, padding), compatible with Wordpress & Elementor defaults.\n6. Do **not** include any intros, disclaimers, or extra messages. Only return the final HTML content.\n7. Preserve all apostrophes, quotes, em dashes, and punctuation properly — no escape sequences or unicode junk.\n8. Keep the tone and humor of the original content intact.\n9. Make sure to use the full URL absolute path\n10. Always make sure make the blog post stunning\n11. It must be valid HTML everytime! The response MUST start with <!DOCTYPE html>. NEVER start it with ```html\n12. Please make sure the images are always full height. Don't cut them off",
              "role": "system"
            },
            {
              "content": "=Title: {{ $('Message a model1').first().json.message.content.title }}\n\nBlog post:\n{{ $('Message a model1').first().json.message.content.blog_post }}\n\nImage captions - each image is separated by commas:\n{{ $('Message a model2').first().json.message.content.blog_post_images }}\n\n{{ $json.data[0].guid.rendered }}\n{{ $json.data[1].guid.rendered }}\n{{ $json.data[2].guid.rendered }}\n{{ $json.data[3].guid.rendered }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2928,
        -96
      ],
      "id": "06909960-a368-4f53-be35-466a0ae9dcf0",
      "name": "Message a model3",
      "credentials": {
        "openAiApi": {
          "id": "Doz6eZjDXGiThIPG",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $('Message a model1').first().json.message.content.title }}",
        "additionalFields": {
          "authorId": 2,
          "content": "={{ $json.message.content }}",
          "slug": "={{ $('Message a model1').first().json.message.content.slug }}",
          "status": "draft",
          "format": "standard",
          "postTemplate": {
            "values": {
              "template": "elementor_header_footer"
            }
          }
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        3280,
        -96
      ],
      "id": "a57d40aa-25e5-4ae9-b213-e87afa028ef6",
      "name": "Create a post",
      "credentials": {
        "wordpressApi": {
          "id": "nStbriaS5TDuO9rf",
          "name": "delete"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1_w9v4aT-yM29C_TcCWOLRzKitE6k3FUSjyNJko7anc8",
          "mode": "list",
          "cachedResultName": "wordpress blog post example",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_w9v4aT-yM29C_TcCWOLRzKitE6k3FUSjyNJko7anc8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_w9v4aT-yM29C_TcCWOLRzKitE6k3FUSjyNJko7anc8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Blog Link": "={{ $('Create a post').item.json.link }}",
            "Image Link": "={{ $('Aggregate').item.json.data[0].guid.rendered }}",
            "Create": "TRUE",
            "Keyword": "={{ $('Webhook').first().json.body.rowValues[0]['0'] }}",
            "Instagram Caption": "={{ $json.message.content.instagram_post }}",
            "Twitter Caption": "={{ $json.message.content.x_post }}",
            "Facebook": "={{ $json.message.content.facebook_post }}",
            "TikTok": "={{ $json.message.content.tiktok_post }}",
            "Linkedin": "={{ $json.message.content.linkedin_post }}"
          },
          "matchingColumns": [
            "Keyword"
          ],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Create",
              "displayName": "Create",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Social Media",
              "displayName": "Social Media",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image Link",
              "displayName": "Image Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Blog Link",
              "displayName": "Blog Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Social Media Link",
              "displayName": "Social Media Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Twitter Caption",
              "displayName": "Twitter Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Instagram Caption",
              "displayName": "Instagram Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TikTok",
              "displayName": "TikTok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3840,
        -96
      ],
      "id": "a7f19a05-5fae-4ee2-9e2c-d247fad9e6ed",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oHG2DldApzJrCoBY",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "blotato-api-key",
              "value": "blt_laHss1J0Xuy2jDJEassynAjxmy9XhtIMCO+kGMfpnmA="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $('Webhook').item.json.body.rowValues[0]['4'] }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        352
      ],
      "id": "a9250209-6c48-4d88-90bd-413d5c4e3a29",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "blotato-api-key",
              "value": "blt_laHss1J0Xuy2jDJEassynAjxmy9XhtIMCO+kGMfpnmA="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post\": {\n    \"accountId\": \"4612\",\n    \"content\": {\n      \"text\": \"{{ $('Webhook').item.json.body.rowValues[0]['7'] }}\",\n      \"mediaUrls\": [\"{{ $json.url }}\"],\n      \"platform\": \"twitter\"\n    },\n    \"target\": {\n      \"targetType\": \"twitter\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        352
      ],
      "id": "11e72c52-4c72-4ebf-b597-015d6e1d4707",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You're an expert at creating captions for social media platforms such as: Instagram, X, LinkedIn, Facebook, and TikTok, around a blog post that we generated. The goal is to increase the amount of people viewing the blog post",
              "role": "system"
            },
            {
              "content": "={{ $('Message a model1').first().json.message.content.blog_post }}"
            },
            {
              "content": "Please output the data in the following JSON format:\n\n{\n  \"instagram_post\": \"\",\n  \"x_post\": \"\",\n  \"facebook_post\": \"\",\n  \"linkedin_post\": \"\",\n  \"tiktok_post\": \"\"\n}\n",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3456,
        -96
      ],
      "id": "a408b999-05ce-4c01-b9eb-347684e03511",
      "name": "Message a model4",
      "credentials": {
        "openAiApi": {
          "id": "Doz6eZjDXGiThIPG",
          "name": "OpenAi account 7"
        }
      }
    }
  ],
  "pinData": {
    "Message a model": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "# Plumbing Price in Toronto: What to Expect in 2024\n\nEver had a leaky faucet that sounds like a hamster on a wheel at 3 a.m.? Yeah, me too. Plumbing drama isn’t exactly a party starter, but unless you’re secretly a DIY hero with a magic wrench (which, let’s be honest, most of us are not), you’ll want a plumber. And here’s the kicker: plumbing prices in Toronto are like uninvited guests—unpredictable, and sometimes shockingly high. Fear not, savvy homeowner! Let’s break down what you’re really paying for in 2024 before your wallet starts leaking faster than that pipe.\n\n---\n\n## Why Knowing Plumbing Prices Matters\n\nPicture this: your bathroom starts sounding like Niagara Falls (and no, you’re not on vacation). You need a plumber, stat. But wait—how much will it cost? Here’s the deal: not knowing plumbing prices is playing Russian roulette with your bank account. Whether you’re budgeting for a tiny drip or a full-on pipe meltdown, understanding pricing means:\n\n- **Budgeting without the sweat** — Because surprise bills are *so* 2023.  \n- **Decoding the jargon** — Hourly vs. flat fees? What even is that?  \n- **Avoiding “emergency fee” sticker shock** — Some plumbers charge like it’s a midnight Uber surge.  \n- **Channeling your inner finance ninja** — Compare quotes like a pro and dodge overpriced “fixes.”\n\nMy 7-year-old once asked if plumbers have a secret button that makes water stop forever. I said, “No, but knowing how much they charge is just as magical.”\n\n---\n\n## Average Hourly Rates for Plumbers in Toronto\n\nOkay, before your eyes glaze over like a Krispy Kreme, here’s the scoop on hourly rates in plain English: Toronto plumbers in 2024 generally charge between **$90 and $180 per hour**. Why such a spread? It depends on your plumber’s mystic skill level, job difficulty, and whether they’re coming around your place during daylight or the witching hour.\n\n- **Standard hourly rates:** $90–$150 — the “9-to-5” plumber squad.  \n- **High-end and specialized work:** $180–$300 — the plumbing Jedi masters.  \n- **After-hours and emergency calls:** $150–$350 — when your pipes wake you up at 2 a.m.\n\nHot take coming in 3…2…1: Those “emergency” fees? They’re like paying extra for pizza delivery on a snowstorm night. Annoying but sometimes necessary.\n\n---\n\n## Typical Flat Fees and Common Job Prices\n\nSome fixes come with a price tag less scary than a horror movie. Here’s a handy table because who doesn’t love a good price list?\n\n| Service                      | Typical Price Range (CAD) |\n|-----------------------------|--------------------------|\n| Unclogging drains           | $150 – $400              |\n| Faucet repair or replacement| $200 – $500              |\n| Toilet repair or replacement| $250 – $600              |\n| Bathtub installation        | $800 – $1,500            |\n| Dishwasher installation     | $500 – $800 (new)        |\n| Dishwasher replacement      | $300 – $550              |\n| Sink installation           | $400 – $900              |\n| Simple repairs              | $120 – $250              |\n\nThese usually cover labor *and* basic materials, so you’re not surprised when the plumber hands you a “materials charge” like a sneaky plot twist. Pro tip: If they have to crawl through the space behind your walls like a ninja, expect your bill to look a bit more like a Stephen King novel.\n\n---\n\n## Large-Scale and Complex Plumbing Jobs\n\nThinking bigger? Like turning your house into a plumbing palace? Brace yourself:\n\n- A complete plumbing overhaul can run **$3,000 to $16,000+**. *(Cue dramatic pause)*.  \n- What affects the price? Home size, the materials (copper pipes are like the luxury brand; PEX is the trusty sedan), and how gnarly the job is.  \n- Don’t forget permits and inspections—like VIP passes that cost extra.\n\nWord of wisdom: Get multiple quotes, ask what’s included, and try not to faint when you hear a total. Some plumbers quote “all in,” others break it down like a confusing IKEA manual.\n\n---\n\n## Factors Influencing Plumbing Costs in Toronto\n\nWhy does your friend’s plumbing bill look way lower than yours? Here’s why:\n\n- **Time of service:** Nights and weekends = $$$ for the plumber.  \n- **Experience:** The plumbing equivalent of a Michelin-star chef charges more.  \n- **Materials:** Fancy faucets vs. the “IKEA special” you found on sale.  \n- **Job complexity:** Easy fixes are like pancakes; tricky ones are soufflés.  \n- **Emergency nature:** Urgent problems scream “charge me more!”  \n- **Location:** Pipes behind walls or under slabs? It’s like excavation meets plumbing.\n\nBasically, the more you disturb the plumber’s Zen, the more your credit card suffers.\n\n---\n\n## Tips to Manage Plumbing Costs\n\nBefore you call in the cavalry, remember:\n\n1. **Get multiple quotes.** Two or three bids can save you a fortune—and your sanity.  \n2. **Know your pricing structure.** Hourly or flat rate? Materials included or separate? Ask now or pay later.  \n3. **Regular maintenance is your friend.** That drip won’t fix itself, but regular checkups mean fewer emergencies.  \n4. **Bundle jobs if possible.** Combine fixes like duct tape and hope—less labor means less dough.  \n5. **Confirm emergency rates upfront.** Don’t get hit with the “I fixed your leak at midnight” surprise.\n\nThink of it like dates: everyone wants honesty about rates before the bill arrives.\n\n---\n\n## Summary: What to Expect for Plumbing Prices in Toronto 2024\n\n- **Standard hourly rates:** $90 to $180 — the bread and butter of plumbing costs.  \n- **Emergency calls:** $150 to $350 — the VIP charge for “save my house now!”  \n- **Common repairs:** $120 to $600 — depending on whether it’s a drip or a dump (toilet, that is).  \n- **Major installations:** $3,000 to $16,000+ — for those who love to dream big (and pay big).  \n- Remember: permits, materials, and complexity like to gatecrash your budget party.\n\nSo next time your sink stages a rebellion, you’ll know what’s coming—and your wallet might thank you.\n\n---\n\n💧 Whether you’re wrestling with a leaky tap or orchestrating a total plumbing makeover, knowing the going rates and cost drivers in Toronto helps you pick the right plumber without selling a kidney. Still reading? Wow. You’re officially my favorite.",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": "```markdown\n# Plumbing Price in Toronto: What to Expect in 2024\n\nIf you're a homeowner or property manager in Toronto, understanding plumbing costs is essential when planning repairs, renovations, or emergency services. Plumbing prices can vary widely depending on the nature of the job, the time of service, and the expertise of the plumber. This guide breaks down the typical plumbing prices in Toronto for 2024, helping you budget effectively and avoid surprises.\n\n---\n\n## Why Knowing Plumbing Prices Matters\n\nUnexpected plumbing issues—from leaking faucets to burst pipes—can disrupt your daily life and create costly damage. Hiring a professional plumber is often necessary, but plumbing services come with variable pricing. Knowing current rates in Toronto helps you:\n\n- Budget repair or installation projects realistically  \n- Understand hourly versus flat-fee pricing  \n- Recognize when emergency service premiums apply  \n- Compare quotes confidently to avoid overpaying  \n\n---\n\n## Average Hourly Rates for Plumbers in Toronto\n\nIn 2024, licensed plumbers in Toronto typically charge between **$90 and $180 per hour**. This range is influenced by the plumber’s experience, complexity of the job, and timing.\n\n- **Standard hourly rates:** $90–$150  \n- **High-end and specialized work:** $180–$300  \n- **After-hours and emergency calls:** $150–$350 per hour\n\nEmergency services often carry higher rates due to urgency and off-hours work. For example, an urgent leak fixed late at night may command a premium compared to routine repairs during weekdays.\n\n---\n\n## Typical Flat Fees and Common Job Prices\n\nMany plumbing services have standard flat fees or approximately set prices, especially for common fixes and installations:\n\n| Service                      | Typical Price Range (CAD) |\n|-----------------------------|---------------------------|\n| Unclogging drains           | $150 – $400              |\n| Faucet repair or replacement | $200 – $500              |\n| Toilet repair or replacement | $250 – $600              |\n| Bathtub installation         | $800 – $1,500            |\n| Dishwasher installation      | $500 – $800 (new)        |\n| Dishwasher replacement       | $300 – $550              |\n| Sink installation            | $400 – $900              |\n| Simple repairs               | $120 – $250              |\n\nThese prices usually include both labor and basic materials. More complex jobs requiring additional parts or involving difficult access (e.g., pipes behind walls) will increase costs.\n\n---\n\n## Large-Scale and Complex Plumbing Jobs\n\nFor major projects like full home repiping or installing an entirely new plumbing system, expect considerably higher costs:\n\n- **Complete plumbing installation:** $3,000 – $16,000 or more  \n- Factors influencing price: home size, material choices (copper, PEX, etc.), and job complexity  \n- Permit fees and inspections may also add to overall expenses  \n\nIt’s important to get multiple quotes and understand what each includes. Some plumbers provide all-in pricing, while others separate labor, materials, and permits.\n\n---\n\n## Factors Influencing Plumbing Costs in Toronto\n\nSeveral key elements affect how much you’ll pay for plumbing services:\n\n- **Time of service:** After-hours or weekend calls cost more  \n- **Experience and reputation:** Highly skilled plumbers charge premium rates  \n- **Materials used:** Premium fixtures or piping increase costs  \n- **Job complexity:** Difficult-to-access pipes or custom installations take longer  \n- **Emergency nature:** Urgency drives up service fees  \n- **Location within home:** Work inside walls, under slabs, or in basements may require extra labor  \n\n---\n\n## Tips to Manage Plumbing Costs\n\n1. **Get multiple quotes:** Comparing 2-3 plumbers can save hundreds of dollars.  \n2. **Understand pricing structure:** Ask if rates are hourly or flat fees, and what materials are included.  \n3. **Schedule regular maintenance:** Preventative plumbing checks avoid costly emergencies.  \n4. **Bundle jobs if possible:** Combining fixes or installations can lower per-job labor costs.  \n5. **Confirm emergency rates:** Know upfront how much after-hours service will cost.  \n\n---\n\n## Summary: What to Expect for Plumbing Prices in Toronto 2024\n\n- **Standard hourly rates:** $90 to $180 per hour for most service calls  \n- **Emergency call rates:** $150 to $350 per hour  \n- **Common repairs:** $120 to $600 depending on the job  \n- **Major installations:** Can cost $3,000 to $16,000+ for full system work  \n- Keep in mind additional fees for permits, materials, and complexity  \n\nBy being informed on current pricing trends, Toronto residents can make smarter decisions about hiring plumbers and budgeting for needed plumbing services.\n\n---\n\n## Further Reading & Resources\n\n- [Toronto Plumber Hourly Rates 2025](https://drpipe.ca/how-much-to-pay-to-a-plumber-in-toronto/)  \n- [Plumber Cost Guide for Toronto](https://aplusplumbing.ca/plumber-cost-hour-toronto/)  \n- [How Much Does a Plumber Cost in Canada?](https://plmbr.ca/articles/how-much-does-a-plumber-cost-in-canada)  \n\n---\n\n💧 Whether you're dealing with a small leak or planning a major plumbing upgrade, knowing the going rates and understanding what impacts price will help you get the best value for your money in Toronto's plumbing market.\n\n```"
        }
      }
    ],
    "Message a model2": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": {
              "blog_post_images": [
                "A frustrated homeowner listening to a leaky faucet dripping late at night, with a humorous hamster wheel sound effect bubble.",
                "An infographic-style image showing average hourly plumbing rates in Toronto, including daytime, specialized, and emergency rates, with visuals of plumbers at work.",
                "A table or collage depicting common plumbing jobs with typical flat fees, showing unclogging drains, faucet repairs, toilet repairs, and installations with price tags.",
                "A dramatic depiction of a large-scale plumbing overhaul in a house, with pipes being installed, inspectors looking over permits, and a homeowner reviewing multiple quotes."
              ]
            },
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ],
    "Message a model1": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": {
              "title": "Toronto Plumbing Prices in 2024",
              "blog_post": "Dealing with a leaky faucet at 3 a.m. can be frustrating, and unless you’re a DIY expert, you’ll need a professional plumber. However, plumbing prices in Toronto can vary widely, sometimes catching homeowners off guard. To help you prepare in 2024, here’s what you need to know about plumbing costs in Toronto and what to expect before you call for help.\n\n## Why Understanding Plumbing Prices in Toronto Is Essential\n\nImagine hearing your bathroom mimic the roar of Niagara Falls—time to call a plumber. But how much will it cost? Knowing plumbing prices helps you budget effectively, avoid surprise charges, and make informed decisions when hiring a plumber. It enables you to:\n\n- Plan your budget confidently without last-minute shocks.\n- Understand pricing structures, whether hourly rates or flat fees.\n- Avoid steep emergency fees often charged during odd hours.\n- Compare quotes and choose the best value without overpaying.\n\n## Typical Hourly Rates for Toronto Plumbers in 2024\n\nIn Toronto, plumbers generally charge between $90 and $180 per hour. Several factors influence this range, including the plumber’s expertise, job complexity, and time of service:\n\n- Standard hourly rates: $90–$150 for regular daytime work.\n- Specialized or high-end services: $180–$300 per hour.\n- After-hours and emergency calls: $150–$350, reflecting the urgency.\n\nKeep in mind, emergency service fees are akin to paying extra for late-night deliveries—they’re sometimes unavoidable.\n\n## Common Flat Fees and Service Costs\n\nHere’s a snapshot of typical flat fees for common jobs in Toronto, covering labor and basic materials:\n\n| Service                         | Price Range (CAD)       |\n|--------------------------------|------------------------|\n| Unclogging drains              | $150 – $400            |\n| Faucet repair or replacement   | $200 – $500            |\n| Toilet repair or replacement   | $250 – $600            |\n| Bathtub installation           | $800 – $1,500          |\n| Dishwasher installation (new)  | $500 – $800            |\n| Dishwasher replacement         | $300 – $550            |\n| Sink installation              | $400 – $900            |\n| Simple repairs                 | $120 – $250            |\n\nIf your plumber needs to access difficult spaces, expect higher charges reflecting the added effort.\n\n## Large-Scale Plumbing Projects\n\nFor extensive plumbing renovations, costs can range from $3,000 to $16,000 or more. Pricing hinges on home size, materials used (copper pipes generally cost more than PEX), and job complexity. Don’t forget to factor in permits and inspections, which add to the total cost.\n\nAlways obtain multiple quotes and clarify what each includes to avoid surprises.\n\n## Factors Affecting Plumbing Costs in Toronto\n\nSeveral elements influence your plumbing bill:\n\n- Time of service: Nights and weekends usually come with higher rates.\n- Experience level: Seasoned plumbers may charge premium rates.\n- Materials: High-quality faucets and pipes cost more.\n- Job complexity: Simple fixes cost less than complicated repairs.\n- Emergency status: Urgent issues increase the price.\n- Location: Hard-to-reach pipes may result in excavation-related costs.\n\n## Tips to Keep Plumbing Costs Manageable\n\nTo avoid overspending:\n\n1. Request multiple quotes to find competitive pricing.\n2. Clarify whether rates are hourly or flat and what materials are included.\n3. Perform regular maintenance to prevent costly emergencies.\n4. Combine smaller repairs to reduce labor costs.\n5. Confirm emergency fees upfront to avoid surprises.\n\n## Summary: Plumbing Price Expectations in Toronto 2024\n\n- Standard hourly rates: $90–$180.\n- Emergency services: $150–$350.\n- Common repairs: $120–$600 depending on the job.\n- Major installations: $3,000 to $16,000+.\n\nRemember, permits and material costs can add to the total. Being informed means you can handle plumbing issues confidently without straining your budget.\n\nWhether tackling a dripping tap or a full plumbing renovation, understanding Toronto’s plumbing prices in 2024 ensures you choose the right plumber at a fair cost—saving you money and stress.",
              "slug": "toronto-plumbing-prices-2024"
            },
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ],
    "HTTP Request": [
      {
        "json": {
          "id": 27182,
          "date": "2025-08-02T15:13:28",
          "date_gmt": "2025-08-02T15:13:28",
          "guid": {
            "rendered": "https://djing.ca/wp-content/uploads/2025/08/image-27.png",
            "raw": "https://djing.ca/wp-content/uploads/2025/08/image-27.png"
          },
          "modified": "2025-08-02T15:13:28",
          "modified_gmt": "2025-08-02T15:13:28",
          "slug": "image-27",
          "status": "inherit",
          "type": "attachment",
          "link": "https://djing.ca/image-27/",
          "title": {
            "raw": "image-27",
            "rendered": "image-27"
          },
          "author": 2,
          "featured_media": 0,
          "comment_status": "",
          "ping_status": "closed",
          "template": "",
          "meta": {
            "_acf_changed": false,
            "site-sidebar-layout": "default",
            "site-content-layout": "",
            "ast-site-content-layout": "default",
            "site-content-style": "default",
            "site-sidebar-style": "default",
            "ast-global-header-display": "",
            "ast-banner-title-visibility": "",
            "ast-main-header-display": "",
            "ast-hfb-above-header-display": "",
            "ast-hfb-below-header-display": "",
            "ast-hfb-mobile-header-display": "",
            "site-post-title": "",
            "ast-breadcrumbs-content": "",
            "ast-featured-img": "",
            "footer-sml-layout": "",
            "theme-transparent-header-meta": "",
            "adv-header-id-meta": "",
            "stick-header-meta": "",
            "header-above-stick-meta": "",
            "header-main-stick-meta": "",
            "header-below-stick-meta": "",
            "astra-migrate-meta-layouts": "default",
            "ast-page-background-enabled": "default",
            "ast-page-background-meta": {
              "desktop": {
                "background-color": "",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              },
              "tablet": {
                "background-color": "",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              },
              "mobile": {
                "background-color": "",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              }
            },
            "ast-content-background-meta": {
              "desktop": {
                "background-color": "var(--ast-global-color-5)",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              },
              "tablet": {
                "background-color": "var(--ast-global-color-5)",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              },
              "mobile": {
                "background-color": "var(--ast-global-color-5)",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              }
            }
          },
          "permalink_template": "https://djing.ca/?attachment_id=27182",
          "generated_slug": "image-27",
          "class_list": [
            "post-27182",
            "attachment",
            "type-attachment",
            "status-inherit",
            "hentry"
          ],
          "acf": [],
          "description": {
            "raw": "",
            "rendered": "<p class=\"attachment\"><a href='https://djing.ca/wp-content/uploads/2025/08/image-27.png'><img fetchpriority=\"high\" decoding=\"async\" width=\"300\" height=\"300\" src=\"https://djing.ca/wp-content/uploads/2025/08/image-27-300x300.png\" class=\"attachment-medium size-medium\" alt=\"\" srcset=\"https://djing.ca/wp-content/uploads/2025/08/image-27-300x300.png 300w, https://djing.ca/wp-content/uploads/2025/08/image-27-150x150.png 150w, https://djing.ca/wp-content/uploads/2025/08/image-27-768x768.png 768w, https://djing.ca/wp-content/uploads/2025/08/image-27.png 1024w\" sizes=\"(max-width: 300px) 100vw, 300px\" /></a></p>\n"
          },
          "caption": {
            "raw": "",
            "rendered": ""
          },
          "alt_text": "",
          "media_type": "image",
          "mime_type": "image/png",
          "media_details": {
            "width": 1024,
            "height": 1024,
            "file": "2025/08/image-27.png",
            "filesize": 1680534,
            "sizes": {
              "medium": {
                "file": "image-27-300x300.png",
                "width": 300,
                "height": 300,
                "filesize": 146202,
                "mime_type": "image/png",
                "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-27-300x300.png"
              },
              "thumbnail": {
                "file": "image-27-150x150.png",
                "width": 150,
                "height": 150,
                "filesize": 41184,
                "mime_type": "image/png",
                "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-27-150x150.png"
              },
              "medium_large": {
                "file": "image-27-768x768.png",
                "width": 768,
                "height": 768,
                "filesize": 926563,
                "mime_type": "image/png",
                "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-27-768x768.png"
              },
              "full": {
                "file": "image-27.png",
                "width": 1024,
                "height": 1024,
                "mime_type": "image/png",
                "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-27.png"
              }
            },
            "image_meta": {
              "aperture": "0",
              "credit": "",
              "camera": "",
              "caption": "",
              "created_timestamp": "0",
              "copyright": "",
              "focal_length": "0",
              "iso": "0",
              "shutter_speed": "0",
              "title": "",
              "orientation": "0",
              "keywords": []
            }
          },
          "post": null,
          "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-27.png",
          "missing_image_sizes": [],
          "_links": {
            "self": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/media/27182",
                "targetHints": {
                  "allow": [
                    "GET",
                    "POST",
                    "PUT",
                    "PATCH",
                    "DELETE"
                  ]
                }
              }
            ],
            "collection": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/media"
              }
            ],
            "about": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/types/attachment"
              }
            ],
            "author": [
              {
                "embeddable": true,
                "href": "https://djing.ca/wp-json/wp/v2/users/2"
              }
            ],
            "replies": [
              {
                "embeddable": true,
                "href": "https://djing.ca/wp-json/wp/v2/comments?post=27182"
              }
            ],
            "wp:action-unfiltered-html": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/media/27182"
              }
            ],
            "wp:action-assign-author": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/media/27182"
              }
            ],
            "curies": [
              {
                "name": "wp",
                "href": "https://api.w.org/{rel}",
                "templated": true
              }
            ]
          }
        }
      },
      {
        "json": {
          "id": 27180,
          "date": "2025-08-02T15:13:27",
          "date_gmt": "2025-08-02T15:13:27",
          "guid": {
            "rendered": "https://djing.ca/wp-content/uploads/2025/08/image-25.png",
            "raw": "https://djing.ca/wp-content/uploads/2025/08/image-25.png"
          },
          "modified": "2025-08-02T15:13:27",
          "modified_gmt": "2025-08-02T15:13:27",
          "slug": "image-25",
          "status": "inherit",
          "type": "attachment",
          "link": "https://djing.ca/image-25/",
          "title": {
            "raw": "image-25",
            "rendered": "image-25"
          },
          "author": 2,
          "featured_media": 0,
          "comment_status": "",
          "ping_status": "closed",
          "template": "",
          "meta": {
            "_acf_changed": false,
            "site-sidebar-layout": "default",
            "site-content-layout": "",
            "ast-site-content-layout": "default",
            "site-content-style": "default",
            "site-sidebar-style": "default",
            "ast-global-header-display": "",
            "ast-banner-title-visibility": "",
            "ast-main-header-display": "",
            "ast-hfb-above-header-display": "",
            "ast-hfb-below-header-display": "",
            "ast-hfb-mobile-header-display": "",
            "site-post-title": "",
            "ast-breadcrumbs-content": "",
            "ast-featured-img": "",
            "footer-sml-layout": "",
            "theme-transparent-header-meta": "",
            "adv-header-id-meta": "",
            "stick-header-meta": "",
            "header-above-stick-meta": "",
            "header-main-stick-meta": "",
            "header-below-stick-meta": "",
            "astra-migrate-meta-layouts": "default",
            "ast-page-background-enabled": "default",
            "ast-page-background-meta": {
              "desktop": {
                "background-color": "",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              },
              "tablet": {
                "background-color": "",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              },
              "mobile": {
                "background-color": "",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              }
            },
            "ast-content-background-meta": {
              "desktop": {
                "background-color": "var(--ast-global-color-5)",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              },
              "tablet": {
                "background-color": "var(--ast-global-color-5)",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              },
              "mobile": {
                "background-color": "var(--ast-global-color-5)",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              }
            }
          },
          "permalink_template": "https://djing.ca/?attachment_id=27180",
          "generated_slug": "image-25",
          "class_list": [
            "post-27180",
            "attachment",
            "type-attachment",
            "status-inherit",
            "hentry"
          ],
          "acf": [],
          "description": {
            "raw": "",
            "rendered": "<p class=\"attachment\"><a href='https://djing.ca/wp-content/uploads/2025/08/image-25.png'><img fetchpriority=\"high\" decoding=\"async\" width=\"300\" height=\"200\" src=\"https://djing.ca/wp-content/uploads/2025/08/image-25-300x200.png\" class=\"attachment-medium size-medium\" alt=\"\" srcset=\"https://djing.ca/wp-content/uploads/2025/08/image-25-300x200.png 300w, https://djing.ca/wp-content/uploads/2025/08/image-25-1024x683.png 1024w, https://djing.ca/wp-content/uploads/2025/08/image-25-768x512.png 768w, https://djing.ca/wp-content/uploads/2025/08/image-25.png 1536w\" sizes=\"(max-width: 300px) 100vw, 300px\" /></a></p>\n"
          },
          "caption": {
            "raw": "",
            "rendered": ""
          },
          "alt_text": "",
          "media_type": "image",
          "mime_type": "image/png",
          "media_details": {
            "width": 1536,
            "height": 1024,
            "file": "2025/08/image-25.png",
            "filesize": 2442010,
            "sizes": {
              "medium": {
                "file": "image-25-300x200.png",
                "width": 300,
                "height": 200,
                "filesize": 85030,
                "mime_type": "image/png",
                "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-25-300x200.png"
              },
              "large": {
                "file": "image-25-1024x683.png",
                "width": 1024,
                "height": 683,
                "filesize": 1026980,
                "mime_type": "image/png",
                "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-25-1024x683.png"
              },
              "thumbnail": {
                "file": "image-25-150x150.png",
                "width": 150,
                "height": 150,
                "filesize": 36506,
                "mime_type": "image/png",
                "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-25-150x150.png"
              },
              "medium_large": {
                "file": "image-25-768x512.png",
                "width": 768,
                "height": 512,
                "filesize": 596009,
                "mime_type": "image/png",
                "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-25-768x512.png"
              },
              "full": {
                "file": "image-25.png",
                "width": 1536,
                "height": 1024,
                "mime_type": "image/png",
                "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-25.png"
              }
            },
            "image_meta": {
              "aperture": "0",
              "credit": "",
              "camera": "",
              "caption": "",
              "created_timestamp": "0",
              "copyright": "",
              "focal_length": "0",
              "iso": "0",
              "shutter_speed": "0",
              "title": "",
              "orientation": "0",
              "keywords": []
            }
          },
          "post": null,
          "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-25.png",
          "missing_image_sizes": [],
          "_links": {
            "self": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/media/27180",
                "targetHints": {
                  "allow": [
                    "GET",
                    "POST",
                    "PUT",
                    "PATCH",
                    "DELETE"
                  ]
                }
              }
            ],
            "collection": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/media"
              }
            ],
            "about": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/types/attachment"
              }
            ],
            "author": [
              {
                "embeddable": true,
                "href": "https://djing.ca/wp-json/wp/v2/users/2"
              }
            ],
            "replies": [
              {
                "embeddable": true,
                "href": "https://djing.ca/wp-json/wp/v2/comments?post=27180"
              }
            ],
            "wp:action-unfiltered-html": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/media/27180"
              }
            ],
            "wp:action-assign-author": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/media/27180"
              }
            ],
            "curies": [
              {
                "name": "wp",
                "href": "https://api.w.org/{rel}",
                "templated": true
              }
            ]
          }
        }
      },
      {
        "json": {
          "id": 27179,
          "date": "2025-08-02T15:13:27",
          "date_gmt": "2025-08-02T15:13:27",
          "guid": {
            "rendered": "https://djing.ca/wp-content/uploads/2025/08/image-24.png",
            "raw": "https://djing.ca/wp-content/uploads/2025/08/image-24.png"
          },
          "modified": "2025-08-02T15:13:27",
          "modified_gmt": "2025-08-02T15:13:27",
          "slug": "image-24",
          "status": "inherit",
          "type": "attachment",
          "link": "https://djing.ca/image-24/",
          "title": {
            "raw": "image-24",
            "rendered": "image-24"
          },
          "author": 2,
          "featured_media": 0,
          "comment_status": "",
          "ping_status": "closed",
          "template": "",
          "meta": {
            "_acf_changed": false,
            "site-sidebar-layout": "default",
            "site-content-layout": "",
            "ast-site-content-layout": "default",
            "site-content-style": "default",
            "site-sidebar-style": "default",
            "ast-global-header-display": "",
            "ast-banner-title-visibility": "",
            "ast-main-header-display": "",
            "ast-hfb-above-header-display": "",
            "ast-hfb-below-header-display": "",
            "ast-hfb-mobile-header-display": "",
            "site-post-title": "",
            "ast-breadcrumbs-content": "",
            "ast-featured-img": "",
            "footer-sml-layout": "",
            "theme-transparent-header-meta": "",
            "adv-header-id-meta": "",
            "stick-header-meta": "",
            "header-above-stick-meta": "",
            "header-main-stick-meta": "",
            "header-below-stick-meta": "",
            "astra-migrate-meta-layouts": "default",
            "ast-page-background-enabled": "default",
            "ast-page-background-meta": {
              "desktop": {
                "background-color": "",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              },
              "tablet": {
                "background-color": "",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              },
              "mobile": {
                "background-color": "",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              }
            },
            "ast-content-background-meta": {
              "desktop": {
                "background-color": "var(--ast-global-color-5)",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              },
              "tablet": {
                "background-color": "var(--ast-global-color-5)",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              },
              "mobile": {
                "background-color": "var(--ast-global-color-5)",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              }
            }
          },
          "permalink_template": "https://djing.ca/?attachment_id=27179",
          "generated_slug": "image-24",
          "class_list": [
            "post-27179",
            "attachment",
            "type-attachment",
            "status-inherit",
            "hentry"
          ],
          "acf": [],
          "description": {
            "raw": "",
            "rendered": "<p class=\"attachment\"><a href='https://djing.ca/wp-content/uploads/2025/08/image-24.png'><img fetchpriority=\"high\" decoding=\"async\" width=\"200\" height=\"300\" src=\"https://djing.ca/wp-content/uploads/2025/08/image-24-200x300.png\" class=\"attachment-medium size-medium\" alt=\"\" srcset=\"https://djing.ca/wp-content/uploads/2025/08/image-24-200x300.png 200w, https://djing.ca/wp-content/uploads/2025/08/image-24-683x1024.png 683w, https://djing.ca/wp-content/uploads/2025/08/image-24-768x1152.png 768w, https://djing.ca/wp-content/uploads/2025/08/image-24.png 1024w\" sizes=\"(max-width: 200px) 100vw, 200px\" /></a></p>\n"
          },
          "caption": {
            "raw": "",
            "rendered": ""
          },
          "alt_text": "",
          "media_type": "image",
          "mime_type": "image/png",
          "media_details": {
            "width": 1024,
            "height": 1536,
            "file": "2025/08/image-24.png",
            "filesize": 2435872,
            "sizes": {
              "medium": {
                "file": "image-24-200x300.png",
                "width": 200,
                "height": 300,
                "filesize": 105048,
                "mime_type": "image/png",
                "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-24-200x300.png"
              },
              "large": {
                "file": "image-24-683x1024.png",
                "width": 683,
                "height": 1024,
                "filesize": 1098589,
                "mime_type": "image/png",
                "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-24-683x1024.png"
              },
              "thumbnail": {
                "file": "image-24-150x150.png",
                "width": 150,
                "height": 150,
                "filesize": 44414,
                "mime_type": "image/png",
                "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-24-150x150.png"
              },
              "medium_large": {
                "file": "image-24-768x1152.png",
                "width": 768,
                "height": 1152,
                "filesize": 1387216,
                "mime_type": "image/png",
                "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-24-768x1152.png"
              },
              "full": {
                "file": "image-24.png",
                "width": 1024,
                "height": 1536,
                "mime_type": "image/png",
                "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-24.png"
              }
            },
            "image_meta": {
              "aperture": "0",
              "credit": "",
              "camera": "",
              "caption": "",
              "created_timestamp": "0",
              "copyright": "",
              "focal_length": "0",
              "iso": "0",
              "shutter_speed": "0",
              "title": "",
              "orientation": "0",
              "keywords": []
            }
          },
          "post": null,
          "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-24.png",
          "missing_image_sizes": [],
          "_links": {
            "self": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/media/27179",
                "targetHints": {
                  "allow": [
                    "GET",
                    "POST",
                    "PUT",
                    "PATCH",
                    "DELETE"
                  ]
                }
              }
            ],
            "collection": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/media"
              }
            ],
            "about": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/types/attachment"
              }
            ],
            "author": [
              {
                "embeddable": true,
                "href": "https://djing.ca/wp-json/wp/v2/users/2"
              }
            ],
            "replies": [
              {
                "embeddable": true,
                "href": "https://djing.ca/wp-json/wp/v2/comments?post=27179"
              }
            ],
            "wp:action-unfiltered-html": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/media/27179"
              }
            ],
            "wp:action-assign-author": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/media/27179"
              }
            ],
            "curies": [
              {
                "name": "wp",
                "href": "https://api.w.org/{rel}",
                "templated": true
              }
            ]
          }
        }
      },
      {
        "json": {
          "id": 27181,
          "date": "2025-08-02T15:13:27",
          "date_gmt": "2025-08-02T15:13:27",
          "guid": {
            "rendered": "https://djing.ca/wp-content/uploads/2025/08/image-26.png",
            "raw": "https://djing.ca/wp-content/uploads/2025/08/image-26.png"
          },
          "modified": "2025-08-02T15:13:27",
          "modified_gmt": "2025-08-02T15:13:27",
          "slug": "image-26",
          "status": "inherit",
          "type": "attachment",
          "link": "https://djing.ca/image-26/",
          "title": {
            "raw": "image-26",
            "rendered": "image-26"
          },
          "author": 2,
          "featured_media": 0,
          "comment_status": "",
          "ping_status": "closed",
          "template": "",
          "meta": {
            "_acf_changed": false,
            "site-sidebar-layout": "default",
            "site-content-layout": "",
            "ast-site-content-layout": "default",
            "site-content-style": "default",
            "site-sidebar-style": "default",
            "ast-global-header-display": "",
            "ast-banner-title-visibility": "",
            "ast-main-header-display": "",
            "ast-hfb-above-header-display": "",
            "ast-hfb-below-header-display": "",
            "ast-hfb-mobile-header-display": "",
            "site-post-title": "",
            "ast-breadcrumbs-content": "",
            "ast-featured-img": "",
            "footer-sml-layout": "",
            "theme-transparent-header-meta": "",
            "adv-header-id-meta": "",
            "stick-header-meta": "",
            "header-above-stick-meta": "",
            "header-main-stick-meta": "",
            "header-below-stick-meta": "",
            "astra-migrate-meta-layouts": "default",
            "ast-page-background-enabled": "default",
            "ast-page-background-meta": {
              "desktop": {
                "background-color": "",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              },
              "tablet": {
                "background-color": "",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              },
              "mobile": {
                "background-color": "",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              }
            },
            "ast-content-background-meta": {
              "desktop": {
                "background-color": "var(--ast-global-color-5)",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              },
              "tablet": {
                "background-color": "var(--ast-global-color-5)",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              },
              "mobile": {
                "background-color": "var(--ast-global-color-5)",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              }
            }
          },
          "permalink_template": "https://djing.ca/?attachment_id=27181",
          "generated_slug": "image-26",
          "class_list": [
            "post-27181",
            "attachment",
            "type-attachment",
            "status-inherit",
            "hentry"
          ],
          "acf": [],
          "description": {
            "raw": "",
            "rendered": "<p class=\"attachment\"><a href='https://djing.ca/wp-content/uploads/2025/08/image-26.png'><img fetchpriority=\"high\" decoding=\"async\" width=\"300\" height=\"200\" src=\"https://djing.ca/wp-content/uploads/2025/08/image-26-300x200.png\" class=\"attachment-medium size-medium\" alt=\"\" srcset=\"https://djing.ca/wp-content/uploads/2025/08/image-26-300x200.png 300w, https://djing.ca/wp-content/uploads/2025/08/image-26-1024x683.png 1024w, https://djing.ca/wp-content/uploads/2025/08/image-26-768x512.png 768w, https://djing.ca/wp-content/uploads/2025/08/image-26.png 1536w\" sizes=\"(max-width: 300px) 100vw, 300px\" /></a></p>\n"
          },
          "caption": {
            "raw": "",
            "rendered": ""
          },
          "alt_text": "",
          "media_type": "image",
          "mime_type": "image/png",
          "media_details": {
            "width": 1536,
            "height": 1024,
            "file": "2025/08/image-26.png",
            "filesize": 2770213,
            "sizes": {
              "medium": {
                "file": "image-26-300x200.png",
                "width": 300,
                "height": 200,
                "filesize": 118548,
                "mime_type": "image/png",
                "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-26-300x200.png"
              },
              "large": {
                "file": "image-26-1024x683.png",
                "width": 1024,
                "height": 683,
                "filesize": 1276725,
                "mime_type": "image/png",
                "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-26-1024x683.png"
              },
              "thumbnail": {
                "file": "image-26-150x150.png",
                "width": 150,
                "height": 150,
                "filesize": 46865,
                "mime_type": "image/png",
                "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-26-150x150.png"
              },
              "medium_large": {
                "file": "image-26-768x512.png",
                "width": 768,
                "height": 512,
                "filesize": 763488,
                "mime_type": "image/png",
                "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-26-768x512.png"
              },
              "full": {
                "file": "image-26.png",
                "width": 1536,
                "height": 1024,
                "mime_type": "image/png",
                "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-26.png"
              }
            },
            "image_meta": {
              "aperture": "0",
              "credit": "",
              "camera": "",
              "caption": "",
              "created_timestamp": "0",
              "copyright": "",
              "focal_length": "0",
              "iso": "0",
              "shutter_speed": "0",
              "title": "",
              "orientation": "0",
              "keywords": []
            }
          },
          "post": null,
          "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-26.png",
          "missing_image_sizes": [],
          "_links": {
            "self": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/media/27181",
                "targetHints": {
                  "allow": [
                    "GET",
                    "POST",
                    "PUT",
                    "PATCH",
                    "DELETE"
                  ]
                }
              }
            ],
            "collection": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/media"
              }
            ],
            "about": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/types/attachment"
              }
            ],
            "author": [
              {
                "embeddable": true,
                "href": "https://djing.ca/wp-json/wp/v2/users/2"
              }
            ],
            "replies": [
              {
                "embeddable": true,
                "href": "https://djing.ca/wp-json/wp/v2/comments?post=27181"
              }
            ],
            "wp:action-unfiltered-html": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/media/27181"
              }
            ],
            "wp:action-assign-author": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/media/27181"
              }
            ],
            "curies": [
              {
                "name": "wp",
                "href": "https://api.w.org/{rel}",
                "templated": true
              }
            ]
          }
        }
      }
    ],
    "Aggregate": [
      {
        "json": {
          "data": [
            {
              "id": 27182,
              "date": "2025-08-02T15:13:28",
              "date_gmt": "2025-08-02T15:13:28",
              "guid": {
                "rendered": "https://djing.ca/wp-content/uploads/2025/08/image-27.png",
                "raw": "https://djing.ca/wp-content/uploads/2025/08/image-27.png"
              },
              "modified": "2025-08-02T15:13:28",
              "modified_gmt": "2025-08-02T15:13:28",
              "slug": "image-27",
              "status": "inherit",
              "type": "attachment",
              "link": "https://djing.ca/image-27/",
              "title": {
                "raw": "image-27",
                "rendered": "image-27"
              },
              "author": 2,
              "featured_media": 0,
              "comment_status": "",
              "ping_status": "closed",
              "template": "",
              "meta": {
                "_acf_changed": false,
                "site-sidebar-layout": "default",
                "site-content-layout": "",
                "ast-site-content-layout": "default",
                "site-content-style": "default",
                "site-sidebar-style": "default",
                "ast-global-header-display": "",
                "ast-banner-title-visibility": "",
                "ast-main-header-display": "",
                "ast-hfb-above-header-display": "",
                "ast-hfb-below-header-display": "",
                "ast-hfb-mobile-header-display": "",
                "site-post-title": "",
                "ast-breadcrumbs-content": "",
                "ast-featured-img": "",
                "footer-sml-layout": "",
                "theme-transparent-header-meta": "",
                "adv-header-id-meta": "",
                "stick-header-meta": "",
                "header-above-stick-meta": "",
                "header-main-stick-meta": "",
                "header-below-stick-meta": "",
                "astra-migrate-meta-layouts": "default",
                "ast-page-background-enabled": "default",
                "ast-page-background-meta": {
                  "desktop": {
                    "background-color": "",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  },
                  "tablet": {
                    "background-color": "",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  },
                  "mobile": {
                    "background-color": "",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  }
                },
                "ast-content-background-meta": {
                  "desktop": {
                    "background-color": "var(--ast-global-color-5)",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  },
                  "tablet": {
                    "background-color": "var(--ast-global-color-5)",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  },
                  "mobile": {
                    "background-color": "var(--ast-global-color-5)",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  }
                }
              },
              "permalink_template": "https://djing.ca/?attachment_id=27182",
              "generated_slug": "image-27",
              "class_list": [
                "post-27182",
                "attachment",
                "type-attachment",
                "status-inherit",
                "hentry"
              ],
              "acf": [],
              "description": {
                "raw": "",
                "rendered": "<p class=\"attachment\"><a href='https://djing.ca/wp-content/uploads/2025/08/image-27.png'><img fetchpriority=\"high\" decoding=\"async\" width=\"300\" height=\"300\" src=\"https://djing.ca/wp-content/uploads/2025/08/image-27-300x300.png\" class=\"attachment-medium size-medium\" alt=\"\" srcset=\"https://djing.ca/wp-content/uploads/2025/08/image-27-300x300.png 300w, https://djing.ca/wp-content/uploads/2025/08/image-27-150x150.png 150w, https://djing.ca/wp-content/uploads/2025/08/image-27-768x768.png 768w, https://djing.ca/wp-content/uploads/2025/08/image-27.png 1024w\" sizes=\"(max-width: 300px) 100vw, 300px\" /></a></p>\n"
              },
              "caption": {
                "raw": "",
                "rendered": ""
              },
              "alt_text": "",
              "media_type": "image",
              "mime_type": "image/png",
              "media_details": {
                "width": 1024,
                "height": 1024,
                "file": "2025/08/image-27.png",
                "filesize": 1680534,
                "sizes": {
                  "medium": {
                    "file": "image-27-300x300.png",
                    "width": 300,
                    "height": 300,
                    "filesize": 146202,
                    "mime_type": "image/png",
                    "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-27-300x300.png"
                  },
                  "thumbnail": {
                    "file": "image-27-150x150.png",
                    "width": 150,
                    "height": 150,
                    "filesize": 41184,
                    "mime_type": "image/png",
                    "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-27-150x150.png"
                  },
                  "medium_large": {
                    "file": "image-27-768x768.png",
                    "width": 768,
                    "height": 768,
                    "filesize": 926563,
                    "mime_type": "image/png",
                    "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-27-768x768.png"
                  },
                  "full": {
                    "file": "image-27.png",
                    "width": 1024,
                    "height": 1024,
                    "mime_type": "image/png",
                    "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-27.png"
                  }
                },
                "image_meta": {
                  "aperture": "0",
                  "credit": "",
                  "camera": "",
                  "caption": "",
                  "created_timestamp": "0",
                  "copyright": "",
                  "focal_length": "0",
                  "iso": "0",
                  "shutter_speed": "0",
                  "title": "",
                  "orientation": "0",
                  "keywords": []
                }
              },
              "post": null,
              "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-27.png",
              "missing_image_sizes": [],
              "_links": {
                "self": [
                  {
                    "href": "https://djing.ca/wp-json/wp/v2/media/27182",
                    "targetHints": {
                      "allow": [
                        "GET",
                        "POST",
                        "PUT",
                        "PATCH",
                        "DELETE"
                      ]
                    }
                  }
                ],
                "collection": [
                  {
                    "href": "https://djing.ca/wp-json/wp/v2/media"
                  }
                ],
                "about": [
                  {
                    "href": "https://djing.ca/wp-json/wp/v2/types/attachment"
                  }
                ],
                "author": [
                  {
                    "embeddable": true,
                    "href": "https://djing.ca/wp-json/wp/v2/users/2"
                  }
                ],
                "replies": [
                  {
                    "embeddable": true,
                    "href": "https://djing.ca/wp-json/wp/v2/comments?post=27182"
                  }
                ],
                "wp:action-unfiltered-html": [
                  {
                    "href": "https://djing.ca/wp-json/wp/v2/media/27182"
                  }
                ],
                "wp:action-assign-author": [
                  {
                    "href": "https://djing.ca/wp-json/wp/v2/media/27182"
                  }
                ],
                "curies": [
                  {
                    "name": "wp",
                    "href": "https://api.w.org/{rel}",
                    "templated": true
                  }
                ]
              }
            },
            {
              "id": 27180,
              "date": "2025-08-02T15:13:27",
              "date_gmt": "2025-08-02T15:13:27",
              "guid": {
                "rendered": "https://djing.ca/wp-content/uploads/2025/08/image-25.png",
                "raw": "https://djing.ca/wp-content/uploads/2025/08/image-25.png"
              },
              "modified": "2025-08-02T15:13:27",
              "modified_gmt": "2025-08-02T15:13:27",
              "slug": "image-25",
              "status": "inherit",
              "type": "attachment",
              "link": "https://djing.ca/image-25/",
              "title": {
                "raw": "image-25",
                "rendered": "image-25"
              },
              "author": 2,
              "featured_media": 0,
              "comment_status": "",
              "ping_status": "closed",
              "template": "",
              "meta": {
                "_acf_changed": false,
                "site-sidebar-layout": "default",
                "site-content-layout": "",
                "ast-site-content-layout": "default",
                "site-content-style": "default",
                "site-sidebar-style": "default",
                "ast-global-header-display": "",
                "ast-banner-title-visibility": "",
                "ast-main-header-display": "",
                "ast-hfb-above-header-display": "",
                "ast-hfb-below-header-display": "",
                "ast-hfb-mobile-header-display": "",
                "site-post-title": "",
                "ast-breadcrumbs-content": "",
                "ast-featured-img": "",
                "footer-sml-layout": "",
                "theme-transparent-header-meta": "",
                "adv-header-id-meta": "",
                "stick-header-meta": "",
                "header-above-stick-meta": "",
                "header-main-stick-meta": "",
                "header-below-stick-meta": "",
                "astra-migrate-meta-layouts": "default",
                "ast-page-background-enabled": "default",
                "ast-page-background-meta": {
                  "desktop": {
                    "background-color": "",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  },
                  "tablet": {
                    "background-color": "",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  },
                  "mobile": {
                    "background-color": "",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  }
                },
                "ast-content-background-meta": {
                  "desktop": {
                    "background-color": "var(--ast-global-color-5)",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  },
                  "tablet": {
                    "background-color": "var(--ast-global-color-5)",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  },
                  "mobile": {
                    "background-color": "var(--ast-global-color-5)",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  }
                }
              },
              "permalink_template": "https://djing.ca/?attachment_id=27180",
              "generated_slug": "image-25",
              "class_list": [
                "post-27180",
                "attachment",
                "type-attachment",
                "status-inherit",
                "hentry"
              ],
              "acf": [],
              "description": {
                "raw": "",
                "rendered": "<p class=\"attachment\"><a href='https://djing.ca/wp-content/uploads/2025/08/image-25.png'><img fetchpriority=\"high\" decoding=\"async\" width=\"300\" height=\"200\" src=\"https://djing.ca/wp-content/uploads/2025/08/image-25-300x200.png\" class=\"attachment-medium size-medium\" alt=\"\" srcset=\"https://djing.ca/wp-content/uploads/2025/08/image-25-300x200.png 300w, https://djing.ca/wp-content/uploads/2025/08/image-25-1024x683.png 1024w, https://djing.ca/wp-content/uploads/2025/08/image-25-768x512.png 768w, https://djing.ca/wp-content/uploads/2025/08/image-25.png 1536w\" sizes=\"(max-width: 300px) 100vw, 300px\" /></a></p>\n"
              },
              "caption": {
                "raw": "",
                "rendered": ""
              },
              "alt_text": "",
              "media_type": "image",
              "mime_type": "image/png",
              "media_details": {
                "width": 1536,
                "height": 1024,
                "file": "2025/08/image-25.png",
                "filesize": 2442010,
                "sizes": {
                  "medium": {
                    "file": "image-25-300x200.png",
                    "width": 300,
                    "height": 200,
                    "filesize": 85030,
                    "mime_type": "image/png",
                    "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-25-300x200.png"
                  },
                  "large": {
                    "file": "image-25-1024x683.png",
                    "width": 1024,
                    "height": 683,
                    "filesize": 1026980,
                    "mime_type": "image/png",
                    "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-25-1024x683.png"
                  },
                  "thumbnail": {
                    "file": "image-25-150x150.png",
                    "width": 150,
                    "height": 150,
                    "filesize": 36506,
                    "mime_type": "image/png",
                    "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-25-150x150.png"
                  },
                  "medium_large": {
                    "file": "image-25-768x512.png",
                    "width": 768,
                    "height": 512,
                    "filesize": 596009,
                    "mime_type": "image/png",
                    "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-25-768x512.png"
                  },
                  "full": {
                    "file": "image-25.png",
                    "width": 1536,
                    "height": 1024,
                    "mime_type": "image/png",
                    "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-25.png"
                  }
                },
                "image_meta": {
                  "aperture": "0",
                  "credit": "",
                  "camera": "",
                  "caption": "",
                  "created_timestamp": "0",
                  "copyright": "",
                  "focal_length": "0",
                  "iso": "0",
                  "shutter_speed": "0",
                  "title": "",
                  "orientation": "0",
                  "keywords": []
                }
              },
              "post": null,
              "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-25.png",
              "missing_image_sizes": [],
              "_links": {
                "self": [
                  {
                    "href": "https://djing.ca/wp-json/wp/v2/media/27180",
                    "targetHints": {
                      "allow": [
                        "GET",
                        "POST",
                        "PUT",
                        "PATCH",
                        "DELETE"
                      ]
                    }
                  }
                ],
                "collection": [
                  {
                    "href": "https://djing.ca/wp-json/wp/v2/media"
                  }
                ],
                "about": [
                  {
                    "href": "https://djing.ca/wp-json/wp/v2/types/attachment"
                  }
                ],
                "author": [
                  {
                    "embeddable": true,
                    "href": "https://djing.ca/wp-json/wp/v2/users/2"
                  }
                ],
                "replies": [
                  {
                    "embeddable": true,
                    "href": "https://djing.ca/wp-json/wp/v2/comments?post=27180"
                  }
                ],
                "wp:action-unfiltered-html": [
                  {
                    "href": "https://djing.ca/wp-json/wp/v2/media/27180"
                  }
                ],
                "wp:action-assign-author": [
                  {
                    "href": "https://djing.ca/wp-json/wp/v2/media/27180"
                  }
                ],
                "curies": [
                  {
                    "name": "wp",
                    "href": "https://api.w.org/{rel}",
                    "templated": true
                  }
                ]
              }
            },
            {
              "id": 27179,
              "date": "2025-08-02T15:13:27",
              "date_gmt": "2025-08-02T15:13:27",
              "guid": {
                "rendered": "https://djing.ca/wp-content/uploads/2025/08/image-24.png",
                "raw": "https://djing.ca/wp-content/uploads/2025/08/image-24.png"
              },
              "modified": "2025-08-02T15:13:27",
              "modified_gmt": "2025-08-02T15:13:27",
              "slug": "image-24",
              "status": "inherit",
              "type": "attachment",
              "link": "https://djing.ca/image-24/",
              "title": {
                "raw": "image-24",
                "rendered": "image-24"
              },
              "author": 2,
              "featured_media": 0,
              "comment_status": "",
              "ping_status": "closed",
              "template": "",
              "meta": {
                "_acf_changed": false,
                "site-sidebar-layout": "default",
                "site-content-layout": "",
                "ast-site-content-layout": "default",
                "site-content-style": "default",
                "site-sidebar-style": "default",
                "ast-global-header-display": "",
                "ast-banner-title-visibility": "",
                "ast-main-header-display": "",
                "ast-hfb-above-header-display": "",
                "ast-hfb-below-header-display": "",
                "ast-hfb-mobile-header-display": "",
                "site-post-title": "",
                "ast-breadcrumbs-content": "",
                "ast-featured-img": "",
                "footer-sml-layout": "",
                "theme-transparent-header-meta": "",
                "adv-header-id-meta": "",
                "stick-header-meta": "",
                "header-above-stick-meta": "",
                "header-main-stick-meta": "",
                "header-below-stick-meta": "",
                "astra-migrate-meta-layouts": "default",
                "ast-page-background-enabled": "default",
                "ast-page-background-meta": {
                  "desktop": {
                    "background-color": "",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  },
                  "tablet": {
                    "background-color": "",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  },
                  "mobile": {
                    "background-color": "",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  }
                },
                "ast-content-background-meta": {
                  "desktop": {
                    "background-color": "var(--ast-global-color-5)",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  },
                  "tablet": {
                    "background-color": "var(--ast-global-color-5)",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  },
                  "mobile": {
                    "background-color": "var(--ast-global-color-5)",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  }
                }
              },
              "permalink_template": "https://djing.ca/?attachment_id=27179",
              "generated_slug": "image-24",
              "class_list": [
                "post-27179",
                "attachment",
                "type-attachment",
                "status-inherit",
                "hentry"
              ],
              "acf": [],
              "description": {
                "raw": "",
                "rendered": "<p class=\"attachment\"><a href='https://djing.ca/wp-content/uploads/2025/08/image-24.png'><img fetchpriority=\"high\" decoding=\"async\" width=\"200\" height=\"300\" src=\"https://djing.ca/wp-content/uploads/2025/08/image-24-200x300.png\" class=\"attachment-medium size-medium\" alt=\"\" srcset=\"https://djing.ca/wp-content/uploads/2025/08/image-24-200x300.png 200w, https://djing.ca/wp-content/uploads/2025/08/image-24-683x1024.png 683w, https://djing.ca/wp-content/uploads/2025/08/image-24-768x1152.png 768w, https://djing.ca/wp-content/uploads/2025/08/image-24.png 1024w\" sizes=\"(max-width: 200px) 100vw, 200px\" /></a></p>\n"
              },
              "caption": {
                "raw": "",
                "rendered": ""
              },
              "alt_text": "",
              "media_type": "image",
              "mime_type": "image/png",
              "media_details": {
                "width": 1024,
                "height": 1536,
                "file": "2025/08/image-24.png",
                "filesize": 2435872,
                "sizes": {
                  "medium": {
                    "file": "image-24-200x300.png",
                    "width": 200,
                    "height": 300,
                    "filesize": 105048,
                    "mime_type": "image/png",
                    "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-24-200x300.png"
                  },
                  "large": {
                    "file": "image-24-683x1024.png",
                    "width": 683,
                    "height": 1024,
                    "filesize": 1098589,
                    "mime_type": "image/png",
                    "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-24-683x1024.png"
                  },
                  "thumbnail": {
                    "file": "image-24-150x150.png",
                    "width": 150,
                    "height": 150,
                    "filesize": 44414,
                    "mime_type": "image/png",
                    "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-24-150x150.png"
                  },
                  "medium_large": {
                    "file": "image-24-768x1152.png",
                    "width": 768,
                    "height": 1152,
                    "filesize": 1387216,
                    "mime_type": "image/png",
                    "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-24-768x1152.png"
                  },
                  "full": {
                    "file": "image-24.png",
                    "width": 1024,
                    "height": 1536,
                    "mime_type": "image/png",
                    "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-24.png"
                  }
                },
                "image_meta": {
                  "aperture": "0",
                  "credit": "",
                  "camera": "",
                  "caption": "",
                  "created_timestamp": "0",
                  "copyright": "",
                  "focal_length": "0",
                  "iso": "0",
                  "shutter_speed": "0",
                  "title": "",
                  "orientation": "0",
                  "keywords": []
                }
              },
              "post": null,
              "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-24.png",
              "missing_image_sizes": [],
              "_links": {
                "self": [
                  {
                    "href": "https://djing.ca/wp-json/wp/v2/media/27179",
                    "targetHints": {
                      "allow": [
                        "GET",
                        "POST",
                        "PUT",
                        "PATCH",
                        "DELETE"
                      ]
                    }
                  }
                ],
                "collection": [
                  {
                    "href": "https://djing.ca/wp-json/wp/v2/media"
                  }
                ],
                "about": [
                  {
                    "href": "https://djing.ca/wp-json/wp/v2/types/attachment"
                  }
                ],
                "author": [
                  {
                    "embeddable": true,
                    "href": "https://djing.ca/wp-json/wp/v2/users/2"
                  }
                ],
                "replies": [
                  {
                    "embeddable": true,
                    "href": "https://djing.ca/wp-json/wp/v2/comments?post=27179"
                  }
                ],
                "wp:action-unfiltered-html": [
                  {
                    "href": "https://djing.ca/wp-json/wp/v2/media/27179"
                  }
                ],
                "wp:action-assign-author": [
                  {
                    "href": "https://djing.ca/wp-json/wp/v2/media/27179"
                  }
                ],
                "curies": [
                  {
                    "name": "wp",
                    "href": "https://api.w.org/{rel}",
                    "templated": true
                  }
                ]
              }
            },
            {
              "id": 27181,
              "date": "2025-08-02T15:13:27",
              "date_gmt": "2025-08-02T15:13:27",
              "guid": {
                "rendered": "https://djing.ca/wp-content/uploads/2025/08/image-26.png",
                "raw": "https://djing.ca/wp-content/uploads/2025/08/image-26.png"
              },
              "modified": "2025-08-02T15:13:27",
              "modified_gmt": "2025-08-02T15:13:27",
              "slug": "image-26",
              "status": "inherit",
              "type": "attachment",
              "link": "https://djing.ca/image-26/",
              "title": {
                "raw": "image-26",
                "rendered": "image-26"
              },
              "author": 2,
              "featured_media": 0,
              "comment_status": "",
              "ping_status": "closed",
              "template": "",
              "meta": {
                "_acf_changed": false,
                "site-sidebar-layout": "default",
                "site-content-layout": "",
                "ast-site-content-layout": "default",
                "site-content-style": "default",
                "site-sidebar-style": "default",
                "ast-global-header-display": "",
                "ast-banner-title-visibility": "",
                "ast-main-header-display": "",
                "ast-hfb-above-header-display": "",
                "ast-hfb-below-header-display": "",
                "ast-hfb-mobile-header-display": "",
                "site-post-title": "",
                "ast-breadcrumbs-content": "",
                "ast-featured-img": "",
                "footer-sml-layout": "",
                "theme-transparent-header-meta": "",
                "adv-header-id-meta": "",
                "stick-header-meta": "",
                "header-above-stick-meta": "",
                "header-main-stick-meta": "",
                "header-below-stick-meta": "",
                "astra-migrate-meta-layouts": "default",
                "ast-page-background-enabled": "default",
                "ast-page-background-meta": {
                  "desktop": {
                    "background-color": "",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  },
                  "tablet": {
                    "background-color": "",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  },
                  "mobile": {
                    "background-color": "",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  }
                },
                "ast-content-background-meta": {
                  "desktop": {
                    "background-color": "var(--ast-global-color-5)",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  },
                  "tablet": {
                    "background-color": "var(--ast-global-color-5)",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  },
                  "mobile": {
                    "background-color": "var(--ast-global-color-5)",
                    "background-image": "",
                    "background-repeat": "repeat",
                    "background-position": "center center",
                    "background-size": "auto",
                    "background-attachment": "scroll",
                    "background-type": "",
                    "background-media": "",
                    "overlay-type": "",
                    "overlay-color": "",
                    "overlay-opacity": "",
                    "overlay-gradient": ""
                  }
                }
              },
              "permalink_template": "https://djing.ca/?attachment_id=27181",
              "generated_slug": "image-26",
              "class_list": [
                "post-27181",
                "attachment",
                "type-attachment",
                "status-inherit",
                "hentry"
              ],
              "acf": [],
              "description": {
                "raw": "",
                "rendered": "<p class=\"attachment\"><a href='https://djing.ca/wp-content/uploads/2025/08/image-26.png'><img fetchpriority=\"high\" decoding=\"async\" width=\"300\" height=\"200\" src=\"https://djing.ca/wp-content/uploads/2025/08/image-26-300x200.png\" class=\"attachment-medium size-medium\" alt=\"\" srcset=\"https://djing.ca/wp-content/uploads/2025/08/image-26-300x200.png 300w, https://djing.ca/wp-content/uploads/2025/08/image-26-1024x683.png 1024w, https://djing.ca/wp-content/uploads/2025/08/image-26-768x512.png 768w, https://djing.ca/wp-content/uploads/2025/08/image-26.png 1536w\" sizes=\"(max-width: 300px) 100vw, 300px\" /></a></p>\n"
              },
              "caption": {
                "raw": "",
                "rendered": ""
              },
              "alt_text": "",
              "media_type": "image",
              "mime_type": "image/png",
              "media_details": {
                "width": 1536,
                "height": 1024,
                "file": "2025/08/image-26.png",
                "filesize": 2770213,
                "sizes": {
                  "medium": {
                    "file": "image-26-300x200.png",
                    "width": 300,
                    "height": 200,
                    "filesize": 118548,
                    "mime_type": "image/png",
                    "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-26-300x200.png"
                  },
                  "large": {
                    "file": "image-26-1024x683.png",
                    "width": 1024,
                    "height": 683,
                    "filesize": 1276725,
                    "mime_type": "image/png",
                    "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-26-1024x683.png"
                  },
                  "thumbnail": {
                    "file": "image-26-150x150.png",
                    "width": 150,
                    "height": 150,
                    "filesize": 46865,
                    "mime_type": "image/png",
                    "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-26-150x150.png"
                  },
                  "medium_large": {
                    "file": "image-26-768x512.png",
                    "width": 768,
                    "height": 512,
                    "filesize": 763488,
                    "mime_type": "image/png",
                    "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-26-768x512.png"
                  },
                  "full": {
                    "file": "image-26.png",
                    "width": 1536,
                    "height": 1024,
                    "mime_type": "image/png",
                    "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-26.png"
                  }
                },
                "image_meta": {
                  "aperture": "0",
                  "credit": "",
                  "camera": "",
                  "caption": "",
                  "created_timestamp": "0",
                  "copyright": "",
                  "focal_length": "0",
                  "iso": "0",
                  "shutter_speed": "0",
                  "title": "",
                  "orientation": "0",
                  "keywords": []
                }
              },
              "post": null,
              "source_url": "https://djing.ca/wp-content/uploads/2025/08/image-26.png",
              "missing_image_sizes": [],
              "_links": {
                "self": [
                  {
                    "href": "https://djing.ca/wp-json/wp/v2/media/27181",
                    "targetHints": {
                      "allow": [
                        "GET",
                        "POST",
                        "PUT",
                        "PATCH",
                        "DELETE"
                      ]
                    }
                  }
                ],
                "collection": [
                  {
                    "href": "https://djing.ca/wp-json/wp/v2/media"
                  }
                ],
                "about": [
                  {
                    "href": "https://djing.ca/wp-json/wp/v2/types/attachment"
                  }
                ],
                "author": [
                  {
                    "embeddable": true,
                    "href": "https://djing.ca/wp-json/wp/v2/users/2"
                  }
                ],
                "replies": [
                  {
                    "embeddable": true,
                    "href": "https://djing.ca/wp-json/wp/v2/comments?post=27181"
                  }
                ],
                "wp:action-unfiltered-html": [
                  {
                    "href": "https://djing.ca/wp-json/wp/v2/media/27181"
                  }
                ],
                "wp:action-assign-author": [
                  {
                    "href": "https://djing.ca/wp-json/wp/v2/media/27181"
                  }
                ],
                "curies": [
                  {
                    "name": "wp",
                    "href": "https://api.w.org/{rel}",
                    "templated": true
                  }
                ]
              }
            }
          ]
        }
      }
    ],
    "Message a model3": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "<!DOCTYPE html>\n<html lang=\"en\" style=\"font-family: Arial, sans-serif; color: #222; line-height: 1.6; padding: 20px; background: #f9f9f9;\">\n<head>\n<meta charset=\"UTF-8\" />\n<title>Toronto Plumbing Prices in 2024</title>\n</head>\n<body style=\"max-width: 800px; margin: auto; background: white; padding: 30px; border-radius: 8px; box-shadow: 0 4px 12px rgba(0,0,0,0.1);\">\n  <h1 style=\"color: #004a99; margin-bottom: 24px; font-weight: 700;\">\n    Toronto Plumbing Prices in 2024\n  </h1>\n\n  <p style=\"font-size: 1.125rem; margin-bottom: 32px;\">\n    Dealing with a leaky faucet at 3 a.m. can be frustrating, and unless you’re a DIY expert, you’ll need a professional plumber. However, plumbing prices in Toronto can vary widely, sometimes catching homeowners off guard. To help you prepare in 2024, here’s what you need to know about plumbing costs in Toronto and what to expect before you call for help.\n  </p>\n\n  <img src=\"https://djing.ca/wp-content/uploads/2025/08/image-27.png\" alt=\"A frustrated homeowner listening to a leaky faucet dripping late at night, with a humorous hamster wheel sound effect bubble.\" style=\"width: 100%; border-radius: 6px; margin-bottom: 28px;\" />\n\n  <h2 style=\"color: #0056b3; margin-top: 0; margin-bottom: 16px; font-weight: 600;\">\n    Why Understanding Plumbing Prices in Toronto Is Essential\n  </h2>\n\n  <p style=\"font-size: 1rem; margin-bottom: 20px;\">\n    Imagine hearing your bathroom mimic the roar of Niagara Falls—time to call a plumber. But how much will it cost? Knowing plumbing prices helps you budget effectively, avoid surprise charges, and make informed decisions when hiring a plumber. It enables you to:\n  </p>\n  <ul style=\"margin-left: 20px; margin-bottom: 36px; color: #333;\">\n    <li>Plan your budget confidently without last-minute shocks.</li>\n    <li>Understand pricing structures, whether hourly rates or flat fees.</li>\n    <li>Avoid steep emergency fees often charged during odd hours.</li>\n    <li>Compare quotes and choose the best value without overpaying.</li>\n  </ul>\n\n  <img src=\"https://djing.ca/wp-content/uploads/2025/08/image-25.png\" alt=\"An infographic-style image showing average hourly plumbing rates in Toronto, including daytime, specialized, and emergency rates, with visuals of plumbers at work.\" style=\"width: 100%; border-radius: 6px; margin-bottom: 28px;\" />\n\n  <h2 style=\"color: #0056b3; margin-top: 0; margin-bottom: 16px; font-weight: 600;\">\n    Typical Hourly Rates for Toronto Plumbers in 2024\n  </h2>\n\n  <p style=\"font-size: 1rem; margin-bottom: 20px;\">\n    In Toronto, plumbers generally charge between $90 and $180 per hour. Several factors influence this range, including the plumber’s expertise, job complexity, and time of service:\n  </p>\n  <ul style=\"margin-left: 20px; margin-bottom: 20px; color: #333;\">\n    <li>Standard hourly rates: $90–$150 for regular daytime work.</li>\n    <li>Specialized or high-end services: $180–$300 per hour.</li>\n    <li>After-hours and emergency calls: $150–$350, reflecting the urgency.</li>\n  </ul>\n  <p style=\"font-style: italic; color: #555; margin-bottom: 36px;\">\n    Keep in mind, emergency service fees are akin to paying extra for late-night deliveries—they’re sometimes unavoidable.\n  </p>\n\n  <img src=\"https://djing.ca/wp-content/uploads/2025/08/image-24.png\" alt=\"A table or collage depicting common plumbing jobs with typical flat fees, showing unclogging drains, faucet repairs, toilet repairs, and installations with price tags.\" style=\"width: 100%; border-radius: 6px; margin-bottom: 28px;\" />\n\n  <h2 style=\"color: #0056b3; margin-top: 0; margin-bottom: 16px; font-weight: 600;\">\n    Common Flat Fees and Service Costs\n  </h2>\n\n  <p style=\"font-size: 1rem; margin-bottom: 20px;\">\n    Here’s a snapshot of typical flat fees for common jobs in Toronto, covering labor and basic materials:\n  </p>\n\n  <table style=\"width: 100%; border-collapse: collapse; margin-bottom: 28px; font-size: 1rem;\">\n    <thead>\n      <tr style=\"background: #004a99; color: white; text-align: left;\">\n        <th style=\"padding: 10px; border: 1px solid #ddd;\">Service</th>\n        <th style=\"padding: 10px; border: 1px solid #ddd;\">Price Range (CAD)</th>\n      </tr>\n    </thead>\n    <tbody style=\"color: #333;\">\n      <tr style=\"background: #f4f7fb;\">\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">Unclogging drains</td>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">$150 – $400</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">Faucet repair or replacement</td>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">$200 – $500</td>\n      </tr>\n      <tr style=\"background: #f4f7fb;\">\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">Toilet repair or replacement</td>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">$250 – $600</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">Bathtub installation</td>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">$800 – $1,500</td>\n      </tr>\n      <tr style=\"background: #f4f7fb;\">\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">Dishwasher installation (new)</td>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">$500 – $800</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">Dishwasher replacement</td>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">$300 – $550</td>\n      </tr>\n      <tr style=\"background: #f4f7fb;\">\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">Sink installation</td>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">$400 – $900</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">Simple repairs</td>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">$120 – $250</td>\n      </tr>\n    </tbody>\n  </table>\n\n  <p style=\"font-style: italic; color: #555; margin-bottom: 36px;\">\n    If your plumber needs to access difficult spaces, expect higher charges reflecting the added effort.\n  </p>\n\n  <img src=\"https://djing.ca/wp-content/uploads/2025/08/image-26.png\" alt=\"A dramatic depiction of a large-scale plumbing overhaul in a house, with pipes being installed, inspectors looking over permits, and a homeowner reviewing multiple quotes.\" style=\"width: 100%; border-radius: 6px; margin-bottom: 28px;\" />\n\n  <h2 style=\"color: #0056b3; margin-top: 0; margin-bottom: 16px; font-weight: 600;\">\n    Large-Scale Plumbing Projects\n  </h2>\n\n  <p style=\"font-size: 1rem; margin-bottom: 20px;\">\n    For extensive plumbing renovations, costs can range from $3,000 to $16,000 or more. Pricing hinges on home size, materials used (copper pipes generally cost more than PEX), and job complexity. Don’t forget to factor in permits and inspections, which add to the total cost.\n  </p>\n  <p style=\"font-size: 1rem; margin-bottom: 36px;\">\n    Always obtain multiple quotes and clarify what each includes to avoid surprises.\n  </p>\n\n  <h2 style=\"color: #0056b3; margin-bottom: 16px; font-weight: 600;\">\n    Factors Affecting Plumbing Costs in Toronto\n  </h2>\n\n  <ul style=\"margin-left: 20px; margin-bottom: 36px; color: #333; font-size: 1rem;\">\n    <li>Time of service: Nights and weekends usually come with higher rates.</li>\n    <li>Experience level: Seasoned plumbers may charge premium rates.</li>\n    <li>Materials: High-quality faucets and pipes cost more.</li>\n    <li>Job complexity: Simple fixes cost less than complicated repairs.</li>\n    <li>Emergency status: Urgent issues increase the price.</li>\n    <li>Location: Hard-to-reach pipes may result in excavation-related costs.</li>\n  </ul>\n\n  <h2 style=\"color: #0056b3; margin-bottom: 16px; font-weight: 600;\">\n    Tips to Keep Plumbing Costs Manageable\n  </h2>\n\n  <ol style=\"padding-left: 20px; margin-bottom: 36px; color: #333; font-size: 1rem;\">\n    <li>Request multiple quotes to find competitive pricing.</li>\n    <li>Clarify whether rates are hourly or flat and what materials are included.</li>\n    <li>Perform regular maintenance to prevent costly emergencies.</li>\n    <li>Combine smaller repairs to reduce labor costs.</li>\n    <li>Confirm emergency fees upfront to avoid surprises.</li>\n  </ol>\n\n  <h2 style=\"color: #0056b3; margin-bottom: 16px; font-weight: 600;\">\n    Summary: Plumbing Price Expectations in Toronto 2024\n  </h2>\n\n  <ul style=\"margin-left: 20px; margin-bottom: 10px; color: #333; font-size: 1.1rem; font-weight: 500;\">\n    <li>Standard hourly rates: $90–$180.</li>\n    <li>Emergency services: $150–$350.</li>\n    <li>Common repairs: $120–$600 depending on the job.</li>\n    <li>Major installations: $3,000 to $16,000+.</li>\n  </ul>\n\n  <p style=\"font-size: 1rem; font-style: italic; color: #555; margin-bottom: 30px;\">\n    Remember, permits and material costs can add to the total. Being informed means you can handle plumbing issues confidently without straining your budget.\n  </p>\n\n  <p style=\"font-size: 1.125rem; font-weight: 600; color: #004a99;\">\n    Whether tackling a dripping tap or a full plumbing renovation, understanding Toronto’s plumbing prices in 2024 ensures you choose the right plumber at a fair cost—saving you money and stress.\n  </p>\n</body>\n</html>",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ],
    "Create a post": [
      {
        "json": {
          "id": 27183,
          "date": "2025-08-02T15:14:08",
          "date_gmt": "2025-08-02T15:14:08",
          "guid": {
            "rendered": "https://djing.ca/?p=27183",
            "raw": "https://djing.ca/?p=27183"
          },
          "modified": "2025-08-02T15:14:08",
          "modified_gmt": "2025-08-02T15:14:08",
          "password": "",
          "slug": "toronto-plumbing-prices-2024-3",
          "status": "draft",
          "type": "post",
          "link": "https://djing.ca/?p=27183",
          "title": {
            "raw": "Toronto Plumbing Prices in 2024",
            "rendered": "Toronto Plumbing Prices in 2024"
          },
          "content": {
            "raw": "<!DOCTYPE html>\n<html lang=\"en\" style=\"font-family: Arial, sans-serif; color: #222; line-height: 1.6; padding: 20px; background: #f9f9f9;\">\n<head>\n<meta charset=\"UTF-8\" />\n<title>Toronto Plumbing Prices in 2024</title>\n</head>\n<body style=\"max-width: 800px; margin: auto; background: white; padding: 30px; border-radius: 8px; box-shadow: 0 4px 12px rgba(0,0,0,0.1);\">\n  <h1 style=\"color: #004a99; margin-bottom: 24px; font-weight: 700;\">\n    Toronto Plumbing Prices in 2024\n  </h1>\n\n  <p style=\"font-size: 1.125rem; margin-bottom: 32px;\">\n    Dealing with a leaky faucet at 3 a.m. can be frustrating, and unless you’re a DIY expert, you’ll need a professional plumber. However, plumbing prices in Toronto can vary widely, sometimes catching homeowners off guard. To help you prepare in 2024, here’s what you need to know about plumbing costs in Toronto and what to expect before you call for help.\n  </p>\n\n  <img src=\"https://djing.ca/wp-content/uploads/2025/08/image-27.png\" alt=\"A frustrated homeowner listening to a leaky faucet dripping late at night, with a humorous hamster wheel sound effect bubble.\" style=\"width: 100%; border-radius: 6px; margin-bottom: 28px;\" />\n\n  <h2 style=\"color: #0056b3; margin-top: 0; margin-bottom: 16px; font-weight: 600;\">\n    Why Understanding Plumbing Prices in Toronto Is Essential\n  </h2>\n\n  <p style=\"font-size: 1rem; margin-bottom: 20px;\">\n    Imagine hearing your bathroom mimic the roar of Niagara Falls—time to call a plumber. But how much will it cost? Knowing plumbing prices helps you budget effectively, avoid surprise charges, and make informed decisions when hiring a plumber. It enables you to:\n  </p>\n  <ul style=\"margin-left: 20px; margin-bottom: 36px; color: #333;\">\n    <li>Plan your budget confidently without last-minute shocks.</li>\n    <li>Understand pricing structures, whether hourly rates or flat fees.</li>\n    <li>Avoid steep emergency fees often charged during odd hours.</li>\n    <li>Compare quotes and choose the best value without overpaying.</li>\n  </ul>\n\n  <img src=\"https://djing.ca/wp-content/uploads/2025/08/image-25.png\" alt=\"An infographic-style image showing average hourly plumbing rates in Toronto, including daytime, specialized, and emergency rates, with visuals of plumbers at work.\" style=\"width: 100%; border-radius: 6px; margin-bottom: 28px;\" />\n\n  <h2 style=\"color: #0056b3; margin-top: 0; margin-bottom: 16px; font-weight: 600;\">\n    Typical Hourly Rates for Toronto Plumbers in 2024\n  </h2>\n\n  <p style=\"font-size: 1rem; margin-bottom: 20px;\">\n    In Toronto, plumbers generally charge between $90 and $180 per hour. Several factors influence this range, including the plumber’s expertise, job complexity, and time of service:\n  </p>\n  <ul style=\"margin-left: 20px; margin-bottom: 20px; color: #333;\">\n    <li>Standard hourly rates: $90–$150 for regular daytime work.</li>\n    <li>Specialized or high-end services: $180–$300 per hour.</li>\n    <li>After-hours and emergency calls: $150–$350, reflecting the urgency.</li>\n  </ul>\n  <p style=\"font-style: italic; color: #555; margin-bottom: 36px;\">\n    Keep in mind, emergency service fees are akin to paying extra for late-night deliveries—they’re sometimes unavoidable.\n  </p>\n\n  <img src=\"https://djing.ca/wp-content/uploads/2025/08/image-24.png\" alt=\"A table or collage depicting common plumbing jobs with typical flat fees, showing unclogging drains, faucet repairs, toilet repairs, and installations with price tags.\" style=\"width: 100%; border-radius: 6px; margin-bottom: 28px;\" />\n\n  <h2 style=\"color: #0056b3; margin-top: 0; margin-bottom: 16px; font-weight: 600;\">\n    Common Flat Fees and Service Costs\n  </h2>\n\n  <p style=\"font-size: 1rem; margin-bottom: 20px;\">\n    Here’s a snapshot of typical flat fees for common jobs in Toronto, covering labor and basic materials:\n  </p>\n\n  <table style=\"width: 100%; border-collapse: collapse; margin-bottom: 28px; font-size: 1rem;\">\n    <thead>\n      <tr style=\"background: #004a99; color: white; text-align: left;\">\n        <th style=\"padding: 10px; border: 1px solid #ddd;\">Service</th>\n        <th style=\"padding: 10px; border: 1px solid #ddd;\">Price Range (CAD)</th>\n      </tr>\n    </thead>\n    <tbody style=\"color: #333;\">\n      <tr style=\"background: #f4f7fb;\">\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">Unclogging drains</td>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">$150 – $400</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">Faucet repair or replacement</td>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">$200 – $500</td>\n      </tr>\n      <tr style=\"background: #f4f7fb;\">\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">Toilet repair or replacement</td>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">$250 – $600</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">Bathtub installation</td>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">$800 – $1,500</td>\n      </tr>\n      <tr style=\"background: #f4f7fb;\">\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">Dishwasher installation (new)</td>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">$500 – $800</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">Dishwasher replacement</td>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">$300 – $550</td>\n      </tr>\n      <tr style=\"background: #f4f7fb;\">\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">Sink installation</td>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">$400 – $900</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">Simple repairs</td>\n        <td style=\"padding: 10px; border: 1px solid #ddd;\">$120 – $250</td>\n      </tr>\n    </tbody>\n  </table>\n\n  <p style=\"font-style: italic; color: #555; margin-bottom: 36px;\">\n    If your plumber needs to access difficult spaces, expect higher charges reflecting the added effort.\n  </p>\n\n  <img src=\"https://djing.ca/wp-content/uploads/2025/08/image-26.png\" alt=\"A dramatic depiction of a large-scale plumbing overhaul in a house, with pipes being installed, inspectors looking over permits, and a homeowner reviewing multiple quotes.\" style=\"width: 100%; border-radius: 6px; margin-bottom: 28px;\" />\n\n  <h2 style=\"color: #0056b3; margin-top: 0; margin-bottom: 16px; font-weight: 600;\">\n    Large-Scale Plumbing Projects\n  </h2>\n\n  <p style=\"font-size: 1rem; margin-bottom: 20px;\">\n    For extensive plumbing renovations, costs can range from $3,000 to $16,000 or more. Pricing hinges on home size, materials used (copper pipes generally cost more than PEX), and job complexity. Don’t forget to factor in permits and inspections, which add to the total cost.\n  </p>\n  <p style=\"font-size: 1rem; margin-bottom: 36px;\">\n    Always obtain multiple quotes and clarify what each includes to avoid surprises.\n  </p>\n\n  <h2 style=\"color: #0056b3; margin-bottom: 16px; font-weight: 600;\">\n    Factors Affecting Plumbing Costs in Toronto\n  </h2>\n\n  <ul style=\"margin-left: 20px; margin-bottom: 36px; color: #333; font-size: 1rem;\">\n    <li>Time of service: Nights and weekends usually come with higher rates.</li>\n    <li>Experience level: Seasoned plumbers may charge premium rates.</li>\n    <li>Materials: High-quality faucets and pipes cost more.</li>\n    <li>Job complexity: Simple fixes cost less than complicated repairs.</li>\n    <li>Emergency status: Urgent issues increase the price.</li>\n    <li>Location: Hard-to-reach pipes may result in excavation-related costs.</li>\n  </ul>\n\n  <h2 style=\"color: #0056b3; margin-bottom: 16px; font-weight: 600;\">\n    Tips to Keep Plumbing Costs Manageable\n  </h2>\n\n  <ol style=\"padding-left: 20px; margin-bottom: 36px; color: #333; font-size: 1rem;\">\n    <li>Request multiple quotes to find competitive pricing.</li>\n    <li>Clarify whether rates are hourly or flat and what materials are included.</li>\n    <li>Perform regular maintenance to prevent costly emergencies.</li>\n    <li>Combine smaller repairs to reduce labor costs.</li>\n    <li>Confirm emergency fees upfront to avoid surprises.</li>\n  </ol>\n\n  <h2 style=\"color: #0056b3; margin-bottom: 16px; font-weight: 600;\">\n    Summary: Plumbing Price Expectations in Toronto 2024\n  </h2>\n\n  <ul style=\"margin-left: 20px; margin-bottom: 10px; color: #333; font-size: 1.1rem; font-weight: 500;\">\n    <li>Standard hourly rates: $90–$180.</li>\n    <li>Emergency services: $150–$350.</li>\n    <li>Common repairs: $120–$600 depending on the job.</li>\n    <li>Major installations: $3,000 to $16,000+.</li>\n  </ul>\n\n  <p style=\"font-size: 1rem; font-style: italic; color: #555; margin-bottom: 30px;\">\n    Remember, permits and material costs can add to the total. Being informed means you can handle plumbing issues confidently without straining your budget.\n  </p>\n\n  <p style=\"font-size: 1.125rem; font-weight: 600; color: #004a99;\">\n    Whether tackling a dripping tap or a full plumbing renovation, understanding Toronto’s plumbing prices in 2024 ensures you choose the right plumber at a fair cost—saving you money and stress.\n  </p>\n</body>\n</html>",
            "rendered": "<p><!DOCTYPE html><br />\n<html lang=\"en\" style=\"font-family: Arial, sans-serif; color: #222; line-height: 1.6; padding: 20px; background: #f9f9f9;\"><br />\n<head><br />\n<meta charset=\"UTF-8\" /><br />\n<title>Toronto Plumbing Prices in 2024</title><br />\n</head><br />\n<body style=\"max-width: 800px; margin: auto; background: white; padding: 30px; border-radius: 8px; box-shadow: 0 4px 12px rgba(0,0,0,0.1);\"></p>\n<h1 style=\"color: #004a99; margin-bottom: 24px; font-weight: 700;\">\n    Toronto Plumbing Prices in 2024<br />\n  </h1>\n<p style=\"font-size: 1.125rem; margin-bottom: 32px;\">\n    Dealing with a leaky faucet at 3 a.m. can be frustrating, and unless you’re a DIY expert, you’ll need a professional plumber. However, plumbing prices in Toronto can vary widely, sometimes catching homeowners off guard. To help you prepare in 2024, here’s what you need to know about plumbing costs in Toronto and what to expect before you call for help.\n  </p>\n<p>  <img decoding=\"async\" src=\"https://djing.ca/wp-content/uploads/2025/08/image-27.png\" alt=\"A frustrated homeowner listening to a leaky faucet dripping late at night, with a humorous hamster wheel sound effect bubble.\" style=\"width: 100%; border-radius: 6px; margin-bottom: 28px;\" /></p>\n<h2 style=\"color: #0056b3; margin-top: 0; margin-bottom: 16px; font-weight: 600;\">\n    Why Understanding Plumbing Prices in Toronto Is Essential<br />\n  </h2>\n<p style=\"font-size: 1rem; margin-bottom: 20px;\">\n    Imagine hearing your bathroom mimic the roar of Niagara Falls—time to call a plumber. But how much will it cost? Knowing plumbing prices helps you budget effectively, avoid surprise charges, and make informed decisions when hiring a plumber. It enables you to:\n  </p>\n<ul style=\"margin-left: 20px; margin-bottom: 36px; color: #333;\">\n<li>Plan your budget confidently without last-minute shocks.</li>\n<li>Understand pricing structures, whether hourly rates or flat fees.</li>\n<li>Avoid steep emergency fees often charged during odd hours.</li>\n<li>Compare quotes and choose the best value without overpaying.</li>\n</ul>\n<p>  <img decoding=\"async\" src=\"https://djing.ca/wp-content/uploads/2025/08/image-25.png\" alt=\"An infographic-style image showing average hourly plumbing rates in Toronto, including daytime, specialized, and emergency rates, with visuals of plumbers at work.\" style=\"width: 100%; border-radius: 6px; margin-bottom: 28px;\" /></p>\n<h2 style=\"color: #0056b3; margin-top: 0; margin-bottom: 16px; font-weight: 600;\">\n    Typical Hourly Rates for Toronto Plumbers in 2024<br />\n  </h2>\n<p style=\"font-size: 1rem; margin-bottom: 20px;\">\n    In Toronto, plumbers generally charge between $90 and $180 per hour. Several factors influence this range, including the plumber’s expertise, job complexity, and time of service:\n  </p>\n<ul style=\"margin-left: 20px; margin-bottom: 20px; color: #333;\">\n<li>Standard hourly rates: $90–$150 for regular daytime work.</li>\n<li>Specialized or high-end services: $180–$300 per hour.</li>\n<li>After-hours and emergency calls: $150–$350, reflecting the urgency.</li>\n</ul>\n<p style=\"font-style: italic; color: #555; margin-bottom: 36px;\">\n    Keep in mind, emergency service fees are akin to paying extra for late-night deliveries—they’re sometimes unavoidable.\n  </p>\n<p>  <img decoding=\"async\" src=\"https://djing.ca/wp-content/uploads/2025/08/image-24.png\" alt=\"A table or collage depicting common plumbing jobs with typical flat fees, showing unclogging drains, faucet repairs, toilet repairs, and installations with price tags.\" style=\"width: 100%; border-radius: 6px; margin-bottom: 28px;\" /></p>\n<h2 style=\"color: #0056b3; margin-top: 0; margin-bottom: 16px; font-weight: 600;\">\n    Common Flat Fees and Service Costs<br />\n  </h2>\n<p style=\"font-size: 1rem; margin-bottom: 20px;\">\n    Here’s a snapshot of typical flat fees for common jobs in Toronto, covering labor and basic materials:\n  </p>\n<table style=\"width: 100%; border-collapse: collapse; margin-bottom: 28px; font-size: 1rem;\">\n<thead>\n<tr style=\"background: #004a99; color: white; text-align: left;\">\n<th style=\"padding: 10px; border: 1px solid #ddd;\">Service</th>\n<th style=\"padding: 10px; border: 1px solid #ddd;\">Price Range (CAD)</th>\n</tr>\n</thead>\n<tbody style=\"color: #333;\">\n<tr style=\"background: #f4f7fb;\">\n<td style=\"padding: 10px; border: 1px solid #ddd;\">Unclogging drains</td>\n<td style=\"padding: 10px; border: 1px solid #ddd;\">$150 – $400</td>\n</tr>\n<tr>\n<td style=\"padding: 10px; border: 1px solid #ddd;\">Faucet repair or replacement</td>\n<td style=\"padding: 10px; border: 1px solid #ddd;\">$200 – $500</td>\n</tr>\n<tr style=\"background: #f4f7fb;\">\n<td style=\"padding: 10px; border: 1px solid #ddd;\">Toilet repair or replacement</td>\n<td style=\"padding: 10px; border: 1px solid #ddd;\">$250 – $600</td>\n</tr>\n<tr>\n<td style=\"padding: 10px; border: 1px solid #ddd;\">Bathtub installation</td>\n<td style=\"padding: 10px; border: 1px solid #ddd;\">$800 – $1,500</td>\n</tr>\n<tr style=\"background: #f4f7fb;\">\n<td style=\"padding: 10px; border: 1px solid #ddd;\">Dishwasher installation (new)</td>\n<td style=\"padding: 10px; border: 1px solid #ddd;\">$500 – $800</td>\n</tr>\n<tr>\n<td style=\"padding: 10px; border: 1px solid #ddd;\">Dishwasher replacement</td>\n<td style=\"padding: 10px; border: 1px solid #ddd;\">$300 – $550</td>\n</tr>\n<tr style=\"background: #f4f7fb;\">\n<td style=\"padding: 10px; border: 1px solid #ddd;\">Sink installation</td>\n<td style=\"padding: 10px; border: 1px solid #ddd;\">$400 – $900</td>\n</tr>\n<tr>\n<td style=\"padding: 10px; border: 1px solid #ddd;\">Simple repairs</td>\n<td style=\"padding: 10px; border: 1px solid #ddd;\">$120 – $250</td>\n</tr>\n</tbody>\n</table>\n<p style=\"font-style: italic; color: #555; margin-bottom: 36px;\">\n    If your plumber needs to access difficult spaces, expect higher charges reflecting the added effort.\n  </p>\n<p>  <img decoding=\"async\" src=\"https://djing.ca/wp-content/uploads/2025/08/image-26.png\" alt=\"A dramatic depiction of a large-scale plumbing overhaul in a house, with pipes being installed, inspectors looking over permits, and a homeowner reviewing multiple quotes.\" style=\"width: 100%; border-radius: 6px; margin-bottom: 28px;\" /></p>\n<h2 style=\"color: #0056b3; margin-top: 0; margin-bottom: 16px; font-weight: 600;\">\n    Large-Scale Plumbing Projects<br />\n  </h2>\n<p style=\"font-size: 1rem; margin-bottom: 20px;\">\n    For extensive plumbing renovations, costs can range from $3,000 to $16,000 or more. Pricing hinges on home size, materials used (copper pipes generally cost more than PEX), and job complexity. Don’t forget to factor in permits and inspections, which add to the total cost.\n  </p>\n<p style=\"font-size: 1rem; margin-bottom: 36px;\">\n    Always obtain multiple quotes and clarify what each includes to avoid surprises.\n  </p>\n<h2 style=\"color: #0056b3; margin-bottom: 16px; font-weight: 600;\">\n    Factors Affecting Plumbing Costs in Toronto<br />\n  </h2>\n<ul style=\"margin-left: 20px; margin-bottom: 36px; color: #333; font-size: 1rem;\">\n<li>Time of service: Nights and weekends usually come with higher rates.</li>\n<li>Experience level: Seasoned plumbers may charge premium rates.</li>\n<li>Materials: High-quality faucets and pipes cost more.</li>\n<li>Job complexity: Simple fixes cost less than complicated repairs.</li>\n<li>Emergency status: Urgent issues increase the price.</li>\n<li>Location: Hard-to-reach pipes may result in excavation-related costs.</li>\n</ul>\n<h2 style=\"color: #0056b3; margin-bottom: 16px; font-weight: 600;\">\n    Tips to Keep Plumbing Costs Manageable<br />\n  </h2>\n<ol style=\"padding-left: 20px; margin-bottom: 36px; color: #333; font-size: 1rem;\">\n<li>Request multiple quotes to find competitive pricing.</li>\n<li>Clarify whether rates are hourly or flat and what materials are included.</li>\n<li>Perform regular maintenance to prevent costly emergencies.</li>\n<li>Combine smaller repairs to reduce labor costs.</li>\n<li>Confirm emergency fees upfront to avoid surprises.</li>\n</ol>\n<h2 style=\"color: #0056b3; margin-bottom: 16px; font-weight: 600;\">\n    Summary: Plumbing Price Expectations in Toronto 2024<br />\n  </h2>\n<ul style=\"margin-left: 20px; margin-bottom: 10px; color: #333; font-size: 1.1rem; font-weight: 500;\">\n<li>Standard hourly rates: $90–$180.</li>\n<li>Emergency services: $150–$350.</li>\n<li>Common repairs: $120–$600 depending on the job.</li>\n<li>Major installations: $3,000 to $16,000+.</li>\n</ul>\n<p style=\"font-size: 1rem; font-style: italic; color: #555; margin-bottom: 30px;\">\n    Remember, permits and material costs can add to the total. Being informed means you can handle plumbing issues confidently without straining your budget.\n  </p>\n<p style=\"font-size: 1.125rem; font-weight: 600; color: #004a99;\">\n    Whether tackling a dripping tap or a full plumbing renovation, understanding Toronto’s plumbing prices in 2024 ensures you choose the right plumber at a fair cost—saving you money and stress.\n  </p>\n<p></body><br />\n</html></p>\n",
            "protected": false,
            "block_version": 0
          },
          "excerpt": {
            "raw": "",
            "rendered": "<p>Toronto Plumbing Prices in 2024 Toronto Plumbing Prices in 2024 Dealing with a leaky faucet at 3 a.m. can be frustrating, and unless you’re a DIY expert, you’ll need a professional plumber. However, plumbing prices in Toronto can vary widely, sometimes catching homeowners off guard. To help you prepare in 2024, here’s what you need [&hellip;]</p>\n",
            "protected": false
          },
          "author": 2,
          "featured_media": 0,
          "comment_status": "",
          "ping_status": "open",
          "sticky": false,
          "template": "elementor_header_footer",
          "format": "standard",
          "meta": {
            "_acf_changed": false,
            "site-sidebar-layout": "default",
            "site-content-layout": "",
            "ast-site-content-layout": "default",
            "site-content-style": "default",
            "site-sidebar-style": "default",
            "ast-global-header-display": "",
            "ast-banner-title-visibility": "",
            "ast-main-header-display": "",
            "ast-hfb-above-header-display": "",
            "ast-hfb-below-header-display": "",
            "ast-hfb-mobile-header-display": "",
            "site-post-title": "",
            "ast-breadcrumbs-content": "",
            "ast-featured-img": "",
            "footer-sml-layout": "",
            "theme-transparent-header-meta": "",
            "adv-header-id-meta": "",
            "stick-header-meta": "",
            "header-above-stick-meta": "",
            "header-main-stick-meta": "",
            "header-below-stick-meta": "",
            "astra-migrate-meta-layouts": "default",
            "ast-page-background-enabled": "default",
            "ast-page-background-meta": {
              "desktop": {
                "background-color": "",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              },
              "tablet": {
                "background-color": "",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              },
              "mobile": {
                "background-color": "",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              }
            },
            "ast-content-background-meta": {
              "desktop": {
                "background-color": "var(--ast-global-color-5)",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              },
              "tablet": {
                "background-color": "var(--ast-global-color-5)",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              },
              "mobile": {
                "background-color": "var(--ast-global-color-5)",
                "background-image": "",
                "background-repeat": "repeat",
                "background-position": "center center",
                "background-size": "auto",
                "background-attachment": "scroll",
                "background-type": "",
                "background-media": "",
                "overlay-type": "",
                "overlay-color": "",
                "overlay-opacity": "",
                "overlay-gradient": ""
              }
            },
            "footnotes": "",
            "_elementor_edit_mode": "",
            "_elementor_template_type": "",
            "_elementor_data": "",
            "_elementor_page_settings": null,
            "_elementor_conditions": []
          },
          "categories": [
            1
          ],
          "tags": [],
          "permalink_template": "https://djing.ca/%postname%/",
          "generated_slug": "toronto-plumbing-prices-in-2024",
          "class_list": [
            "post-27183",
            "post",
            "type-post",
            "status-draft",
            "format-standard",
            "hentry",
            "category-vancouver-dj-post"
          ],
          "acf": [],
          "yoast_head": "<!-- This site is optimized with the Yoast SEO plugin v25.6 - https://yoast.com/wordpress/plugins/seo/ -->\n<title>Toronto Plumbing Prices in 2024 - DJing.ca</title>\n<!-- Admin only notice: this page does not show a meta description because it does not have one, either write it for this page specifically or go into the [Yoast SEO - Settings] menu and set up a template. -->\n<meta name=\"robots\" content=\"index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1\" />\n<link rel=\"canonical\" href=\"https://djing.ca/?p=27183\" />\n<meta property=\"og:locale\" content=\"en_US\" />\n<meta property=\"og:type\" content=\"article\" />\n<meta property=\"og:title\" content=\"Toronto Plumbing Prices in 2024 - DJing.ca\" />\n<meta property=\"og:description\" content=\"Toronto Plumbing Prices in 2024 Toronto Plumbing Prices in 2024 Dealing with a leaky faucet at 3 a.m. can be frustrating, and unless you’re a DIY expert, you’ll need a professional plumber. However, plumbing prices in Toronto can vary widely, sometimes catching homeowners off guard. To help you prepare in 2024, here’s what you need [&hellip;]\" />\n<meta property=\"og:url\" content=\"https://djing.ca/?p=27183\" />\n<meta property=\"og:site_name\" content=\"DJing.ca\" />\n<meta property=\"article:published_time\" content=\"-0001-11-30T00:00:00+00:00\" />\n<meta property=\"og:image\" content=\"https://djing.ca/wp-content/uploads/2025/08/image-27.png\" />\n<meta name=\"author\" content=\"Jono Catliff\" />\n<meta name=\"twitter:card\" content=\"summary_large_image\" />\n<meta name=\"twitter:label1\" content=\"Written by\" />\n\t<meta name=\"twitter:data1\" content=\"Jono Catliff\" />\n\t<meta name=\"twitter:label2\" content=\"Est. reading time\" />\n\t<meta name=\"twitter:data2\" content=\"3 minutes\" />\n<script type=\"application/ld+json\" class=\"yoast-schema-graph\">{\"@context\":\"https://schema.org\",\"@graph\":[{\"@type\":\"Article\",\"@id\":\"https://djing.ca/?p=27183#article\",\"isPartOf\":{\"@id\":\"https://djing.ca/?p=27183\"},\"author\":{\"name\":\"Jono Catliff\",\"@id\":\"https://djing.ca/#/schema/person/ea67f6d7386596e57be12dd81e0c0592\"},\"headline\":\"Toronto Plumbing Prices in 2024\",\"datePublished\":\"-0001-11-30T00:00:00+00:00\",\"mainEntityOfPage\":{\"@id\":\"https://djing.ca/?p=27183\"},\"wordCount\":528,\"publisher\":{\"@id\":\"https://djing.ca/#organization\"},\"image\":{\"@id\":\"https://djing.ca/?p=27183#primaryimage\"},\"thumbnailUrl\":\"https://djing.ca/wp-content/uploads/2025/08/image-27.png\",\"articleSection\":[\"Vancouver DJ\"],\"inLanguage\":\"en-US\"},{\"@type\":\"WebPage\",\"@id\":\"https://djing.ca/?p=27183\",\"url\":\"https://djing.ca/?p=27183\",\"name\":\"Toronto Plumbing Prices in 2024 - DJing.ca\",\"isPartOf\":{\"@id\":\"https://djing.ca/#website\"},\"primaryImageOfPage\":{\"@id\":\"https://djing.ca/?p=27183#primaryimage\"},\"image\":{\"@id\":\"https://djing.ca/?p=27183#primaryimage\"},\"thumbnailUrl\":\"https://djing.ca/wp-content/uploads/2025/08/image-27.png\",\"datePublished\":\"-0001-11-30T00:00:00+00:00\",\"breadcrumb\":{\"@id\":\"https://djing.ca/?p=27183#breadcrumb\"},\"inLanguage\":\"en-US\",\"potentialAction\":[{\"@type\":\"ReadAction\",\"target\":[\"https://djing.ca/?p=27183\"]}]},{\"@type\":\"ImageObject\",\"inLanguage\":\"en-US\",\"@id\":\"https://djing.ca/?p=27183#primaryimage\",\"url\":\"https://djing.ca/wp-content/uploads/2025/08/image-27.png\",\"contentUrl\":\"https://djing.ca/wp-content/uploads/2025/08/image-27.png\",\"width\":1024,\"height\":1024},{\"@type\":\"BreadcrumbList\",\"@id\":\"https://djing.ca/?p=27183#breadcrumb\",\"itemListElement\":[{\"@type\":\"ListItem\",\"position\":1,\"name\":\"Home\",\"item\":\"https://djing.ca/\"},{\"@type\":\"ListItem\",\"position\":2,\"name\":\"Toronto Plumbing Prices in 2024\"}]},{\"@type\":\"WebSite\",\"@id\":\"https://djing.ca/#website\",\"url\":\"https://djing.ca/\",\"name\":\"DJing.ca\",\"description\":\"Vancouver DJ Services | Wedding &amp; Corporate Event DJs, Entertainment and Music\",\"publisher\":{\"@id\":\"https://djing.ca/#organization\"},\"potentialAction\":[{\"@type\":\"SearchAction\",\"target\":{\"@type\":\"EntryPoint\",\"urlTemplate\":\"https://djing.ca/?s={search_term_string}\"},\"query-input\":{\"@type\":\"PropertyValueSpecification\",\"valueRequired\":true,\"valueName\":\"search_term_string\"}}],\"inLanguage\":\"en-US\"},{\"@type\":\"Organization\",\"@id\":\"https://djing.ca/#organization\",\"name\":\"DJing.ca\",\"url\":\"https://djing.ca/\",\"logo\":{\"@type\":\"ImageObject\",\"inLanguage\":\"en-US\",\"@id\":\"https://djing.ca/#/schema/logo/image/\",\"url\":\"https://djing.ca/wp-content/uploads/2019/07/cropped-DJing.caLogoV2.jpg\",\"contentUrl\":\"https://djing.ca/wp-content/uploads/2019/07/cropped-DJing.caLogoV2.jpg\",\"width\":544,\"height\":545,\"caption\":\"DJing.ca\"},\"image\":{\"@id\":\"https://djing.ca/#/schema/logo/image/\"}},{\"@type\":\"Person\",\"@id\":\"https://djing.ca/#/schema/person/ea67f6d7386596e57be12dd81e0c0592\",\"name\":\"Jono Catliff\",\"image\":{\"@type\":\"ImageObject\",\"inLanguage\":\"en-US\",\"@id\":\"https://djing.ca/#/schema/person/image/\",\"url\":\"https://secure.gravatar.com/avatar/3b63d45170056142e1a04f9a08aa6b392f17116d3bf53e44296d223573e698f7?s=96&d=mm&r=g\",\"contentUrl\":\"https://secure.gravatar.com/avatar/3b63d45170056142e1a04f9a08aa6b392f17116d3bf53e44296d223573e698f7?s=96&d=mm&r=g\",\"caption\":\"Jono Catliff\"},\"description\":\"Owner and author at DJing.ca\",\"url\":\"https://djing.ca/author/jonocatliff/\"}]}</script>\n<!-- / Yoast SEO plugin. -->",
          "yoast_head_json": {
            "title": "Toronto Plumbing Prices in 2024 - DJing.ca",
            "robots": {
              "index": "index",
              "follow": "follow",
              "max-snippet": "max-snippet:-1",
              "max-image-preview": "max-image-preview:large",
              "max-video-preview": "max-video-preview:-1"
            },
            "canonical": "https://djing.ca/?p=27183",
            "og_locale": "en_US",
            "og_type": "article",
            "og_title": "Toronto Plumbing Prices in 2024 - DJing.ca",
            "og_description": "Toronto Plumbing Prices in 2024 Toronto Plumbing Prices in 2024 Dealing with a leaky faucet at 3 a.m. can be frustrating, and unless you’re a DIY expert, you’ll need a professional plumber. However, plumbing prices in Toronto can vary widely, sometimes catching homeowners off guard. To help you prepare in 2024, here’s what you need [&hellip;]",
            "og_url": "https://djing.ca/?p=27183",
            "og_site_name": "DJing.ca",
            "article_published_time": "-0001-11-30T00:00:00+00:00",
            "og_image": [
              {
                "url": "https://djing.ca/wp-content/uploads/2025/08/image-27.png",
                "type": "",
                "width": "",
                "height": ""
              }
            ],
            "author": "Jono Catliff",
            "twitter_card": "summary_large_image",
            "twitter_misc": {
              "Written by": "Jono Catliff",
              "Est. reading time": "3 minutes"
            },
            "schema": {
              "@context": "https://schema.org",
              "@graph": [
                {
                  "@type": "Article",
                  "@id": "https://djing.ca/?p=27183#article",
                  "isPartOf": {
                    "@id": "https://djing.ca/?p=27183"
                  },
                  "author": {
                    "name": "Jono Catliff",
                    "@id": "https://djing.ca/#/schema/person/ea67f6d7386596e57be12dd81e0c0592"
                  },
                  "headline": "Toronto Plumbing Prices in 2024",
                  "datePublished": "-0001-11-30T00:00:00+00:00",
                  "mainEntityOfPage": {
                    "@id": "https://djing.ca/?p=27183"
                  },
                  "wordCount": 528,
                  "publisher": {
                    "@id": "https://djing.ca/#organization"
                  },
                  "image": {
                    "@id": "https://djing.ca/?p=27183#primaryimage"
                  },
                  "thumbnailUrl": "https://djing.ca/wp-content/uploads/2025/08/image-27.png",
                  "articleSection": [
                    "Vancouver DJ"
                  ],
                  "inLanguage": "en-US"
                },
                {
                  "@type": "WebPage",
                  "@id": "https://djing.ca/?p=27183",
                  "url": "https://djing.ca/?p=27183",
                  "name": "Toronto Plumbing Prices in 2024 - DJing.ca",
                  "isPartOf": {
                    "@id": "https://djing.ca/#website"
                  },
                  "primaryImageOfPage": {
                    "@id": "https://djing.ca/?p=27183#primaryimage"
                  },
                  "image": {
                    "@id": "https://djing.ca/?p=27183#primaryimage"
                  },
                  "thumbnailUrl": "https://djing.ca/wp-content/uploads/2025/08/image-27.png",
                  "datePublished": "-0001-11-30T00:00:00+00:00",
                  "breadcrumb": {
                    "@id": "https://djing.ca/?p=27183#breadcrumb"
                  },
                  "inLanguage": "en-US",
                  "potentialAction": [
                    {
                      "@type": "ReadAction",
                      "target": [
                        "https://djing.ca/?p=27183"
                      ]
                    }
                  ]
                },
                {
                  "@type": "ImageObject",
                  "inLanguage": "en-US",
                  "@id": "https://djing.ca/?p=27183#primaryimage",
                  "url": "https://djing.ca/wp-content/uploads/2025/08/image-27.png",
                  "contentUrl": "https://djing.ca/wp-content/uploads/2025/08/image-27.png",
                  "width": 1024,
                  "height": 1024
                },
                {
                  "@type": "BreadcrumbList",
                  "@id": "https://djing.ca/?p=27183#breadcrumb",
                  "itemListElement": [
                    {
                      "@type": "ListItem",
                      "position": 1,
                      "name": "Home",
                      "item": "https://djing.ca/"
                    },
                    {
                      "@type": "ListItem",
                      "position": 2,
                      "name": "Toronto Plumbing Prices in 2024"
                    }
                  ]
                },
                {
                  "@type": "WebSite",
                  "@id": "https://djing.ca/#website",
                  "url": "https://djing.ca/",
                  "name": "DJing.ca",
                  "description": "Vancouver DJ Services | Wedding &amp; Corporate Event DJs, Entertainment and Music",
                  "publisher": {
                    "@id": "https://djing.ca/#organization"
                  },
                  "potentialAction": [
                    {
                      "@type": "SearchAction",
                      "target": {
                        "@type": "EntryPoint",
                        "urlTemplate": "https://djing.ca/?s={search_term_string}"
                      },
                      "query-input": {
                        "@type": "PropertyValueSpecification",
                        "valueRequired": true,
                        "valueName": "search_term_string"
                      }
                    }
                  ],
                  "inLanguage": "en-US"
                },
                {
                  "@type": "Organization",
                  "@id": "https://djing.ca/#organization",
                  "name": "DJing.ca",
                  "url": "https://djing.ca/",
                  "logo": {
                    "@type": "ImageObject",
                    "inLanguage": "en-US",
                    "@id": "https://djing.ca/#/schema/logo/image/",
                    "url": "https://djing.ca/wp-content/uploads/2019/07/cropped-DJing.caLogoV2.jpg",
                    "contentUrl": "https://djing.ca/wp-content/uploads/2019/07/cropped-DJing.caLogoV2.jpg",
                    "width": 544,
                    "height": 545,
                    "caption": "DJing.ca"
                  },
                  "image": {
                    "@id": "https://djing.ca/#/schema/logo/image/"
                  }
                },
                {
                  "@type": "Person",
                  "@id": "https://djing.ca/#/schema/person/ea67f6d7386596e57be12dd81e0c0592",
                  "name": "Jono Catliff",
                  "image": {
                    "@type": "ImageObject",
                    "inLanguage": "en-US",
                    "@id": "https://djing.ca/#/schema/person/image/",
                    "url": "https://secure.gravatar.com/avatar/3b63d45170056142e1a04f9a08aa6b392f17116d3bf53e44296d223573e698f7?s=96&d=mm&r=g",
                    "contentUrl": "https://secure.gravatar.com/avatar/3b63d45170056142e1a04f9a08aa6b392f17116d3bf53e44296d223573e698f7?s=96&d=mm&r=g",
                    "caption": "Jono Catliff"
                  },
                  "description": "Owner and author at DJing.ca",
                  "url": "https://djing.ca/author/jonocatliff/"
                }
              ]
            }
          },
          "_links": {
            "self": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/posts/27183",
                "targetHints": {
                  "allow": [
                    "GET",
                    "POST",
                    "PUT",
                    "PATCH",
                    "DELETE"
                  ]
                }
              }
            ],
            "collection": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/posts"
              }
            ],
            "about": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/types/post"
              }
            ],
            "author": [
              {
                "embeddable": true,
                "href": "https://djing.ca/wp-json/wp/v2/users/2"
              }
            ],
            "replies": [
              {
                "embeddable": true,
                "href": "https://djing.ca/wp-json/wp/v2/comments?post=27183"
              }
            ],
            "version-history": [
              {
                "count": 0,
                "href": "https://djing.ca/wp-json/wp/v2/posts/27183/revisions"
              }
            ],
            "wp:attachment": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/media?parent=27183"
              }
            ],
            "wp:term": [
              {
                "taxonomy": "category",
                "embeddable": true,
                "href": "https://djing.ca/wp-json/wp/v2/categories?post=27183"
              },
              {
                "taxonomy": "post_tag",
                "embeddable": true,
                "href": "https://djing.ca/wp-json/wp/v2/tags?post=27183"
              }
            ],
            "wp:action-publish": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/posts/27183"
              }
            ],
            "wp:action-unfiltered-html": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/posts/27183"
              }
            ],
            "wp:action-sticky": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/posts/27183"
              }
            ],
            "wp:action-assign-author": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/posts/27183"
              }
            ],
            "wp:action-create-categories": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/posts/27183"
              }
            ],
            "wp:action-assign-categories": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/posts/27183"
              }
            ],
            "wp:action-create-tags": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/posts/27183"
              }
            ],
            "wp:action-assign-tags": [
              {
                "href": "https://djing.ca/wp-json/wp/v2/posts/27183"
              }
            ],
            "curies": [
              {
                "name": "wp",
                "href": "https://api.w.org/{rel}",
                "templated": true
              }
            ]
          }
        }
      }
    ],
    "HTTP Request2": [
      {
        "json": {
          "postSubmissionId": "f8343cc3-1ff3-41e4-8039-bf153142dddc"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model3": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Message a model4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model4": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4d25a44f-07b2-4d51-84ca-f475d4fb08cc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d2017cc6d1e4b956d269a8123bffa72fb7aaa41ad37a73b7c0fb64c7d0e2edae"
  },
  "id": "5yqOwZo58nrDdFmw",
  "tags": []
}